{% extends "layout.html" %}

{% block content %}
    <!--end head block  -->
    </head>
    <body id="bodyBrowse">
    
        <header>
            <nav>
                <ul>
                    <li>
                        <a href=""></a>
                    </li>
                    <li>
                        <a href=""></a>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- start body content -->
        <h1 id="h1Browse">{{ page.title }}</h1>

        <div id="divOverTableBrowse">
            <table id="browseTable">
                <thead>
                    <tr>
                        <th class="browseNumb col-lg-1">N°</th>
                        <th class="browseYear">Auteur</th>
                        <th class="browseModify">DATE MODIFIED</th>
                        <th class="browseSize"> SIZE</th>
                        <th class="browseSubject">SUJET</th>
                        <th class="browseCategory">CATEGORIE</th>
                        <th class="browseDescription">DESCRIPTION</th>
                    </tr>
                </thead>
                <tbody>
                  {% for item in items |sort(attribute='item.object') %}
                    <tr>
                        <td class="browseNumb browseTd">{{ loop.index }}</td>
                        <td class="browseYear browseTd"><a class="abrowseYear" href="./display-{{ item.wid }}.html">{{item.content.json.TEI.teiHeader.fileDesc.titleStmt.respStmt.persName[0].forename['#text'] +" " + item.content.json.TEI.teiHeader.fileDesc.titleStmt.respStmt.persName[0].surname['#text']|d("Pas d'auteur") }} </a></td>
                        <td class="browseModify browseTd">{{ item.dateModified.format('short') }}</td>
                        <td class="browseSize browseTd">{{ item.contentSize }}</td>
                        <td class="browseSubject browseTd">{{ item.content.json.TEI.teiHeader.fileDesc.titleStmt.title[0]['#text'] |d('n/a') }}</td>
                        <td class="browseCategory browseTd">{{ item.category|d('N/A') }}</td>
                        <td class="browseDescription browseTd">{{ item.description|d('no description') }}</td>
                    </tr>
                    <tr class="browseTdInter">
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>


{% endblock %}
