{% extends "layout.html" %}



{% block head %}
    <title>{{data.fields.title}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/full-article.css">
{% endblock %}



{% block content %}


<body id="bodyBrowse">




{% set numberOfMethods = data.pertinenceMethods.length %}

{% set currentMethod = 0 %}

{% set showArticle = config.showArticle %}

{% set showSilence = config.showSilence %}

{% set countAllKeywords = config.countAllKeywords %}

{% set beforeSilence = "" %}

{% if ( config.negativeSilence == true ) %}
    {% set beforeSilence = "-" %}
{% endif %}



    <!-- Block of modal for full article -->
    {% if showArticle == true %}
    <div id="buttonFullArticle" class="">
        <span class="glyphicon glyphicon-align-center" id="spanFullArticle"></span>
        <span id="closeFullArticle" class="glyphicon glyphicon-remove"></span>
        <div id="fullArticleSection">
            <div class="col-lg-2"></div>
            <div id="fullArticleContent" class="contentTei col-lg-8"></div>
        </div>
    </div>
    {% endif %}

    <span class="glyphicon glyphicon-arrow-down arrowScroll arrowScrollTop colored" title="Descendre tous les blocks"></span>

    <div id="contentDisplay" class="col-lg-11 col-md-11">

            <!-- LEFT BLOC -->
            <aside id="leftSection" class="col-lg-2 col-md-3">

                <header id="headerInfoDisplayDocs">


                    <!-- THE NAV BAR -->
                    <div class="divTopDisplay colored">
                        <div id="divNavMiddle" class="col-lg-12 col-md-12 col-sm-12">
                            <p>
                                <a href="/index.html">Liste</a> <!-- Return to browse Docs-->
                            </p>
                        </div>

                    </div>
                    <div id="timer" class="colored">

                    </div>
                    {% if data.fields.validateSilence != 'yes' %}
                        <span class="glyphicon glyphicon-play isRunning colored" id="startOrStop"></span>
                    {% endif %}

                    <!-- NAME BLOC -->
                    <div class="displayDiscipline">
                        <div class="disciplineInfoDisplay colored">
                            <span>{{ config.domain|d('non renseigné !') }}</span>
                        </div>
                    </div>

                   <div id="listOrGrid">
                        <span id="grid" class="glyphicon glyphicon-th gridOrListButton" style="opacity : 1"></span>
                        <span id="list" class="glyphicon glyphicon-list active gridOrListButton"></span>
                    </div>

                    <div data-id="{{ data.wid }}" id="pertinenceBar" title="Progression de la notation pertinence" class="progress {% if data.fields.validatePertinence  == 'yes' %}isValidated{% endif %}">
                    </div>

                    <div id="silenceBar" data-id="{{ data.wid }}" title="Progression de la notation silence" class="progress {% if data.fields.validateSilence  == 'yes' %}isValidated show{% elif data.fields.validatePertinence == 'yes' %}show{% else %}hidden{% endif %}"></div>


                    <!-- METHOD BLOC -->
                    <div class="displayMethodBu">

                        <div  class="methodsNameDisplayD">

                            {% for buttons in range(0,numberOfMethods) %}

                                <div id="methodButton-{{ loop.index0 }}" class="methodLinkround colored">

                                    <span>Méthode {{ loop.index }}</span>

                                </div>

                            {% endfor %}

                        </div>

                    </div>

                </header>


                <!-- RESUME BLOC -->
                <section id="sectionArticle">

                    <span class="glyphicon glyphicon-align-left resumeGliph colored" id="backAbsctract"></span>

                    <article id="articleSectionResumeDisplay" style="">

                        <p>
                            {{ data.fields.abstract|d('Pas de resume') }}
                        </p>

                    </article>

                </section>

            </aside>


            <!-- RIGHT  BLOCK (Keywords) -->
            <section id="keywordsSection" class="col-lg-10 col-md-9">

                <div class="divHoverH1Display colored col-lg-12 col-md-12">

                    <div id="h1Block">
                        <h1 id="h1DisplayDocs">

                            {{ data.fields.title|d('Pas de titre') }}

                        </h1>
                    </div>

                    <div id="arroundedBlock">

                    </div>

                </div>

                <p id="abstractFullLenght">
                    {{ data.fields.abstract|d('Pas de resume') }}
                </p>


                <div id="keywordsDisplayDiv" class="col-lg-12 col-md-12 col-sm-12">


                            {% if ( showSilence == true ) %}

                                <div id="keywordsInist">

                                    <h2> INIST </h2>

                                    {%  for currentMethod in data.pertinenceMethods %}

                                        {% set indexMethod  = loop.index0 %}

                                        {% set indexFromMethod  = 0 %}

                                        {% for currentObject in data.keywords %}

                                            {% set indexObject = loop.index0 %}

                                            {% if currentObject.type == "silence"  and  currentObject.method == currentMethod %}

                                            {% set indexFromMethod  = indexFromMethod+1 %}

                                        <div data-id="{{data.keywords[indexObject]['xml#id']}}" class="btn btn-default inistForMethod-{{ indexMethod }} {% if ((data.keywords[indexObject].score) or (data.keywords[indexObject].score == 0)) %} keywordsMethodsDisplayDone {% else %} keywordsMethodsDisplay colored {% endif %}">
                                            <span class="idOfWord">{% if ( countAllKeywords == true ) %} {{ indexObject+1 }} {% else %} {{ indexFromMethod }} {% endif %} - </span> <span class="keywordsText">{{ currentObject.word|d('Pas de mots clés') }}</span> <span class="fa fa-search searchKeywords"></span>

                                            <form class="formNotedKeyword row" id="silenceScore-{{ indexMethod }}-{{ indexObject }}" name="formNotedKeyword" action="/save/{{ data.wid }}" method="post">

                                                <input class="inistKey" type="hidden" name="key" value="keywords.{{ indexObject }}.score"/><!-- Key Name -->

                                                <!-- Value Name -->
                                                {% if data.keywords[indexObject].score == '2' %}
                                                <input id="input0-silence-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="0"><label for="input0-silence-{{ indexMethod }}.{{ indexObject }}" class="{% if data.fields.validateSilence == 'yes' %}labelHide{% endif %}">0</label>
                                                <input id="input1-silence-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="1"><label for="input1-silence-{{ indexMethod }}.{{ indexObject }}" class="{% if data.fields.validateSilence == 'yes' %}labelHide{% endif %}">{{beforeSilence}}1</label>
                                                <input id="input2-silence-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="2" checked><label for="input2-silence-{{ indexMethod }}.{{ indexObject }}" class="{% if data.fields.validateSilence == 'yes' %}labelBlock{% endif %}">{{beforeSilence}}2</label>
                                                {% elif data.keywords[indexObject].score == '1' %}
                                                <input id="input0-silence-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="0"><label for="input0-silence-{{ indexMethod }}.{{ indexObject }}" class="{% if data.fields.validateSilence == 'yes' %}labelHide{% endif %}">0</label>
                                                <input id="input1-silence-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="1" checked><label for="input1-silence-{{ indexMethod }}.{{ indexObject }}" class="{% if data.fields.validateSilence == 'yes' %}labelBlock{% endif %}">{{beforeSilence}}1</label>
                                                <input id="input2-silence-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="2"><label for="input2-silence-{{ indexMethod }}.{{ indexObject }}" class="{% if data.fields.validateSilence == 'yes' %}labelHide{% endif %}">{{beforeSilence}}2</label>
                                                {% elif data.keywords[indexObject].score == '0' %}
                                                <input id="input0-silence-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="0" checked><label for="input0-silence-{{ indexMethod }}.{{ indexObject }}" class="{% if data.fields.validateSilence == 'yes' %}labelBlock{% endif %}">0</label>
                                                <input id="input1-silence-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="1"><label for="input1-silence-{{ indexMethod }}.{{ indexObject }}" class="{% if data.fields.validateSilence == 'yes' %}labelHide{% endif %}">{{beforeSilence}}1</label>
                                                <input id="input2-silence-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="2"><label for="input2-silence-{{ indexMethod }}.{{ indexObject }}" class="{% if data.fields.validateSilence == 'yes' %}labelHide{% endif %}">{{beforeSilence}}2</label>
                                                {% else %}
                                                <input id="input0-silence-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="0"><label for="input0-silence-{{ indexMethod }}.{{ indexObject }}" class="{% if data.fields.validateSilence == 'yes' %}labelHide{% endif %}">0</label>
                                                <input id="input1-silence-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="1"><label for="input1-silence-{{ indexMethod }}.{{ indexObject }}" class="{% if data.fields.validateSilence == 'yes' %}labelHide{% endif %}">{{beforeSilence}}1</label>
                                                <input id="input2-silence-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="2"><label for="input2-silence-{{ indexMethod }}.{{ indexObject }}" class="{% if data.fields.validateSilence == 'yes' %}labelHide{% endif %}">{{beforeSilence}}2</label>
                                                {% endif %}

                                                <input type="hidden" name="type" value="silence"/><!-- Type pertinence -->

                                                <ins class="loading"></ins>

                                            </form>

                                            <form class="formNotedKeyword formNotedKeywordsPreference formNotedKeywordsCorresp row {% if data.fields.validateSilence == 'yes' %}labelHide{% endif %}" id="correspMethod-{{ indexMethod }}-{{ indexObject }}" action="/save/{{ data.wid }}">

                                                <input type="hidden" name="key" value="keywords.{{ indexObject }}.correspondance"/> <!-- Key Name -->

                                                <select id="method-{{ indexMethod }}-corresp-list-{{ indexObject }}" class="formNotedKeywordList" name="val">
                                                    <option value="<corresp>" class="baseOption">
                                                        Corresp:
                                                    </option>

                                                    {% for currentObjectForCorresp in data.keywords %}

                                                        {% set indexObjectForCorresp = loop.index0 %}

                                                        {% if currentObjectForCorresp.type == "pertinence" and currentObjectForCorresp.method == currentMethod %}

                                                        <option data-id="{{ currentObjectForCorresp['xml#id'] }}" value="{{ currentObjectForCorresp.word }}" {% if data.keywords[indexObject].correspondance == data.keywords[indexObjectForCorresp].word %} selected="selected" style="background: #FF847C;color:#fff"{% endif %}>
                                                        {{ currentObjectForCorresp.word }}
                                                        </option>

                                                        {% endif %}

                                                    {% endfor %}

                                                    <option value="deletemenow" class="deletePrefCorresp">
                                                        /!\SUPPRIMER/!\
                                                    </option>

                                                </select>

                                                <input type="hidden" name="type" value="silence"/><!-- Type pertinence -->


                                            </form>

                                            <div class="divComments {% if data.fields.validateSilence == 'yes' %}labelHide{% endif %}" title="Zone commentaire">
                                                <span class="etcSpanComment">...</span>

                                                <div class="divFormComments">

                                                    <div class="leaveOrSaveComment">
                                                        <span class="quitSpanComment" title="Quitter sans sauvegarder"> <span class="glyphicon glyphicon-remove"></span> </span>
                                                        <span class="saveSpanComment" title="Sauvegarder le commentaire"> <span class="glyphicon glyphicon-ok"></span> </span>
                                                    </div>

                                                    <form  data-id="{{ data.wid }}" action="/save/{{ data.wid }}" style="padding:0; margin: 0">
                                                        <input type="hidden" name="key" value="keywords.{{ indexObject }}.comment"/> <!-- Key Name -->
                                                        <input data-provide="typeahead" title="Inserer un commentaire sur le mot" name="val" class="inputComment" type="text" placeholder="Commentaire :" value="{{ data.keywords[indexObject].comment }}"/>
                                                        <span class="glyphicon glyphicon-trash trashComment" title="Supprimer le commentaire !"></span>
                                                    </form>
                                                </div>

                                            </div>

                                        </div>

                                        {% endif %}

                                        {% endfor %}

                                    {% endfor %}

                                </div>

                            {% endif %}


                            {%  for currentMethod in data.pertinenceMethods %}

                                {% set indexMethod  = loop.index0 %}

                                {% set indexFromMethod = 0 %}

                                <div id="method{{ indexMethod }}ListOfKeywords" class="methodsKeywords">

                                    <h2> Methode {{ indexMethod+1 }} </h2>

                                    {% for currentObject in data.keywords %}

                                            {% set indexObject = loop.index0 %}

                                            {% if currentObject.type == "pertinence"  and  currentObject.method == currentMethod %}

                                            {% set indexFromMethod = indexFromMethod + 1 %}

                                            <div data-id="{{data.keywords[indexObject]['xml#id']}}" class="btn btn-default {% if ((data.keywords[indexObject].score) or (data.keywords[indexObject].score == 0)) %} keywordsMethodsDisplayDone {% else %} keywordsMethodsDisplay colored {% endif %}">
                                                <span class="idOfWord"> {% if ( countAllKeywords == true ) %} {{ indexObject+1 }} {% else %} {{ indexFromMethod }} {% endif %} - </span> <span class="keywordsText">{{ data.keywords[indexObject].word|d('Pas de mots clés') }}</span> <span class="fa fa-search searchKeywords"></span>

                                                <form class="formNotedKeyword row" id="method-{{ indexMethod }}-{{indexObject }}" name="formNotedKeyword" action="/save/{{ data.wid }}" method="post">

                                                    <input type="hidden" name="key" value="keywords.{{ indexObject }}.score"/><!-- Key Name -->

                                                    <!-- Value Name -->
                                                    {% if data.keywords[indexObject].score == '2' %}
                                                    <input id="input0-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="0"><label for="input0-{{ indexMethod }}.{{ indexObject }}"  class="{% if data.fields.validatePertinence == 'yes' %}labelHide{% endif %}">0</label>
                                                    <input id="input1-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="1" ><label for="input1-{{ indexMethod }}.{{ indexObject }}"  class="{% if data.fields.validatePertinence == 'yes' %}labelHide{% endif %}">1</label>
                                                    <input id="input2-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="2" checked><label for="input2-{{ indexMethod }}.{{ indexObject }}"  class="{% if data.fields.validatePertinence == 'yes' %}labelBlock{% endif %}">2</label>
                                                    {% elif data.keywords[indexObject].score == '1' %}
                                                    <input id="input0-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="0"><label for="input0-{{ indexMethod }}.{{ indexObject }}"  class="{% if data.fields.validatePertinence == 'yes' %}labelHide{% endif %}">0</label>
                                                    <input id="input1-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="1" checked><label for="input1-{{ indexMethod }}.{{ indexObject }}"  class="{% if data.fields.validatePertinence == 'yes' %}labelBlock{% endif %}">1</label>
                                                    <input id="input2-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="2"><label for="input2-{{ indexMethod }}.{{ indexObject }}"  class="{% if data.fields.validatePertinence == 'yes' %}labelHide{% endif %}">2</label>
                                                    {% elif data.keywords[indexObject].score == '0' %}
                                                    <input id="input0-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="0" checked><label for="input0-{{ indexMethod }}.{{ indexObject }}"  class="{% if data.fields.validatePertinence == 'yes' %}labelBlock{% endif %}">0</label>
                                                    <input id="input1-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="1"><label for="input1-{{ indexMethod }}.{{ indexObject }}"  class="{% if data.fields.validatePertinence == 'yes' %}labelHide{% endif %}">1</label>
                                                    <input id="input2-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="2"><label for="input2-{{ indexMethod }}.{{ indexObject }}"  class="{% if data.fields.validatePertinence == 'yes' %}labelHide{% endif %}">2</label>
                                                    {% else %}
                                                    <input id="input0-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="0"><label for="input0-{{ indexMethod }}.{{ indexObject }}"  class="{% if data.fields.validatePertinence == 'yes' %}labelHide{% endif %}">0</label>
                                                    <input id="input1-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="1"><label for="input1-{{ indexMethod }}.{{ indexObject }}"  class="{% if data.fields.validatePertinence == 'yes' %}labelHide{% endif %}">1</label>
                                                    <input id="input2-{{ indexMethod }}.{{ indexObject }}" name="val" type="radio" value="2"><label for="input2-{{ indexMethod }}.{{ indexObject }}"  class="{% if data.fields.validatePertinence == 'yes' %}labelHide{% endif %}">2</label>
                                                    {% endif %}

                                                    <input type="hidden" name="type" value="pertinence"/><!-- Type pertinence -->


                                                    <ins class="loading"></ins>

                                                </form>

                                                <form class="formNotedKeyword formNotedKeywordsPreference formNotedKeywordsPref row {% if data.fields.validatePertinence == 'yes' %}labelHide{% endif %}" id="prefMethod-{{ indexMethod }}-{{ loop.index }}" action="/save/{{ data.wid }}">

                                                    <input type="hidden" name="key" value="keywords.{{ indexObject }}.preference"/> <!-- Key Name -->

                                                    <select id="method-{{ indexMethod }}-preference-list-{{ indexObject }}" class="formNotedKeywordList" name="val">

                                                        <option value="<preference>" class="baseOption">
                                                            Pref:
                                                        </option>

                                                        {% for currentObjectPref in data.keywords %}

                                                            {% set indexObjectPref = loop.index0 %}

                                                            {% if currentObjectPref.type == "pertinence"  and  currentObjectPref.method == currentMethod %}

                                                            <option data-id="{{ currentObjectPref['xml#id'] }}" value="{{ currentObjectPref.word }}" {% if data.keywords[indexObjectPref].word == currentObject.preference %} selected="selected" style="background: #FF847C;color:#fff"{% endif %}>
                                                            {{ currentObjectPref.word }}
                                                            </option>

                                                            {% endif %}

                                                        {% endfor %}

                                                        <option value="deletemenow" class="deletePrefCorresp">
                                                            /!\SUPPRIMER/!\
                                                        </option>


                                                    </select>

                                                    <input type="hidden" name="type" value="pertinence"/><!-- Type pertinence -->

                                                </form>

                                                <div class="divComments {% if data.fields.validatePertinence == 'yes' %}labelHide{% endif %}" title="Zone commentaire">
                                                    <span class="etcSpanComment">...</span>

                                                    <div class="divFormComments">
                                                        <div class="leaveOrSaveComment">
                                                            <span class="quitSpanComment" title="Quitter sans sauvegarder"> <span class="glyphicon glyphicon-remove"></span> </span>
                                                            <span class="saveSpanComment" title="Sauvegarder le commentaire"> <span class="glyphicon glyphicon-ok"></span> </span>
                                                        </div>

                                                        <form  data-id="{{ data.wid }}" action="/save/{{ data.wid }}" style="padding:0; margin: 0" >
                                                                <input type="hidden" name="key" value="keywords.{{ indexObject }}.comment"/> <!-- Key Name -->
                                                                <input data-provide="typeahead" title="Inserer un commentaire sur le mot" name="val" class="inputComment" type="text" placeholder="Commentaire :" value="{{ data.keywords[indexObject].comment }}"/>
                                                                <span class="glyphicon glyphicon-trash trashComment" title="Supprimer le commentaire !"></span>
                                                        </form>
                                                    </div>

                                                </div>



                                            </div>
                                            {% endif %}

                                            {% endfor %}



                                </div>

                            {% endfor %}

                </div> <!-- End of Block Keywords -->

            </section> <!-- End of Right  Section (Keywords) -->


    </div>

    <span class="glyphicon glyphicon-arrow-down arrowScroll arrowScrollBottom colored" title="Descendre tous les blocks"></span>


    {% if showSilence == true %}
        <div id="inistKeywordsButton" {% if data.fields.validatePertinence == "yes" %}style="display : block"{% else %}style="display: none"{% endif %}>
            <span>Afficher INIST</span>  <!-- Button to call Inist Keywords -->
        </div>
    {% endif %}



{% endblock %}

{% block scripts %}

<!-- SCRIPTS  DISPLAY PAGE -->

<script src="/assets/js/jquery.runner.js" type="text/javascript"></script>

<script src="/assets/js/jquery.fs.scroller.min.js"></script>

<script src="/assets/js/bootstrap3-typeahead.min.js"></script>

<script src="/assets/js/jquery.highlight.js"></script>

<script src="/assets/js/display.js"></script>


{% endblock %}
