{% extends "layout.html" %}

{% block content %}

<!--end head block  -->
</head>


<body id="bodyBrowse">

    <div id="showOnClickDiv"></div>

    <div id="contentDisplay" class="col-lg-11">

            <!-- THE NAV BAR -->
            <div class="divTopDisplay row col-lg-12">

                   <div id="divArrLeft" class="col-lg-4">
                       <span class="glyphicon glyphicon-arrow-left spanArrows"></span>
                   </div>

                   <div id="divNavMiddle" class="col-lg-4">
                       <p>
                            <a href="/browse-docs.html">LISTE</a> <!-- Return to browse Docs-->
                       </p>
                   </div>

                   <div id="divArrRight" class="col-lg-4">
                       <span class="glyphicon glyphicon-arrow-right spanArrows"></span>
                   </div>

            </div>

            <!-- LEFT BLOC -->
            <aside id="leftSection" class="col-lg-2">

                <header id="headerInfoDisplayDocs">


                    <!-- MARK BLOC -->
                    <div class="displayMark">
                        <span class="glyphicon glyphicon-bookmark markGliph"></span>
                        <div class="markInfoDisplay">{{ item.mark|d('/4') }}</div>
                    </div>

                    <!-- AUTHORS BLOC -->
                    <div class="displayAuthor">

                        <span class="glyphicon glyphicon-user authorGliph"></span>
                        <div  class="authorsNameDisplayD">
                            {% if item.content.json.TEI.teiHeader.fileDesc.sourceDesc.biblStruct.analytic.author.persName.forename['#text'] %}

                                <span>{{item.content.json.TEI.teiHeader.fileDesc.sourceDesc.biblStruct.analytic.author.persName.forename['#text']|d('Pas d\'auteur') +" " + item.content.json.TEI.teiHeader.fileDesc.sourceDesc.biblStruct.analytic.author.persName.surname['#text']|d(" ") }} </span>

                            {% elif item.content.json.TEI.teiHeader.fileDesc.sourceDesc.biblStruct.analytic.author.persName[0] %}

                                {% for authors in item.content.json.TEI.teiHeader.fileDesc.sourceDesc.biblStruct.analytic.author.persName %}

                                    <div>- {{ authors.forename['#text'] + ' ' + authors.surname['#text'] + '.' }}</div>

                                {% endfor %}

                            {% else %}

                                ?

                            {% endif %}
                        </div>

                    </div>

                </header>


                <!-- RESUME BLOC -->
                <section id="sectionArticle">

                    <span class="glyphicon glyphicon-align-left resumeGliph"></span>

                    <article id="articleSectionResumeDisplay" style="">

                        <p>{{ item.content.json.TEI.teiHeader.profileDesc.abstract.p['#text']|d('Pas de résumé pour cet article') }}</p>

                    </article>

                </section>

            </aside>


            <!-- RIGHT  BLOCK (Keywords) -->
            <section id="keywordsSection" class="col-lg-10">

                <div class="divHoverH1Display col-lg-12">

                    <div id="h1Block">
                        <h1 id="h1DisplayDocs">{{ item.content.json.TEI.teiHeader.fileDesc.titleStmt.title[0]['#text']|truncate( 99, False, '...') |d('Pas de titre pour ce documents') }}</h1>
                    </div>

                    <div id="arroundedBlock">

                    </div>


                </div>

                <div id="keywordsDisplayDiv" class="col-lg-12">

                    {%  for keywords in item.content.json.TEI.teiHeader.profileDesc.textClass.keywords %}

                        <!-- Check if lina method 1 or 2 exist and create a global div for both -->

                        {% if keywords.scheme == 'lina1:notice'%}

                            <div class="divForListKeywords">

                        {% elif keywords.scheme == 'lina2:notice'%}

                            <div class="divForListKeywords">

                        {% endif %}

                        <!-- First Lina Notice Method -->

                        {% if keywords.scheme == 'lina1:notice' %}

                                <div id="lina1:notice">

                                    <h2> First Method </h2>

                                    {%  for keywordsAdv in keywords.term %}

                                        {% set currentKeyword = keywordsAdv['#text'] %}

                                        <div class="btn btn-default {% if item.notedKeywords.lina1[currentKeyword] %} keywordsLinasDisplayDone {% else %} keywordsLinasDisplay {% endif %}"><!-- Check if keywords has already been evaluated & apply a style -->

                                        {{ keywordsAdv['#text']|d('de mots clés') }}

                                            <form class="formNotedKeyword row" id="lina1-{{ loop.index }}" name="formNotedKeyword" action="save/{{ item.wid }}" method="post"><!-- Call save with current wid -->

                                                <input type="hidden" name="key" value="notedKeywords.lina1.{{ keywordsAdv['#text'] }}"/> <!-- Key Name -->

                                                <!-- Value Name -->
                                                {% if item.notedKeywords.lina1[currentKeyword] == '2' %}
                                                <input id="input0-lina1-{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-lina1-{{ loop.index }}">0</label>
                                                <input id="input1-lina1-{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-lina1-{{ loop.index }}">1</label>
                                                <input id="input2-lina1-{{ loop.index }}" name="val" type="radio" value="2" checked><label for="input2-lina1-{{ loop.index }}">2</label>
                                                {% elif item.notedKeywords.lina1[currentKeyword] == '1' %}
                                                <input id="input0-lina1-{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-lina1-{{ loop.index }}">0</label>
                                                <input id="input1-lina1-{{ loop.index }}" name="val" type="radio" value="1" checked><label for="input1-lina1-{{ loop.index }}">1</label>
                                                <input id="input2-lina1-{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-lina1-{{ loop.index }}">2</label>
                                                {% elif item.notedKeywords.lina1[currentKeyword] == '0' %}
                                                <input id="input0-lina1-{{ loop.index }}" name="val" type="radio" value="0" checked><label for="input0-lina1-{{ loop.index }}">0</label>
                                                <input id="input1-lina1-{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-lina1-{{ loop.index }}">1</label>
                                                <input id="input2-lina1-{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-lina1-{{ loop.index }}">2</label>
                                                {% else %}
                                                <input id="input0-lina1-{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-lina1-{{ loop.index }}">0</label>
                                                <input id="input1-lina1-{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-lina1-{{ loop.index }}">1</label>
                                                <input id="input2-lina1-{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-lina1-{{ loop.index }}">2</label>
                                                {% endif %}

                                                <ins class="loading"></ins>

                                            </form>

                                        </div>

                                    {% endfor %}

                                </div> <!-- End of a block keywords for lina1 notice -->


                        <!-- Second Lina Notice Method -->

                        {% elif keywords.scheme == 'lina2:notice' %}

                            <div id="lina2ListOfKeywords">

                                <h2> LINA 2</h2>

                                {%  for keywordsAdv in keywords.term %}

                                {% set currentKeyword = keywordsAdv['#text'] %}

                                    <div class="btn btn-default {% if item.notedKeywords.lina2[currentKeyword] %} keywordsLinasDisplayDone {% else %} keywordsLinasDisplay {% endif %}"> {{ keywordsAdv['#text']|d('de mots clés') }}

                                        <form class="formNotedKeyword row" id="lina2-{{ loop.index }}" name="formNotedKeyword" action="save/{{ item.wid }}" method="post"><!-- Call save with current wid -->

                                            <input type="hidden" name="key" value="notedKeywords.lina2.{{ keywordsAdv['#text'] }}"/><!-- Key Name -->

                                            <!-- Value Name -->
                                            {% if item.notedKeywords.lina2[currentKeyword] == '2' %}
                                            <input id="input0-lina2-{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-lina2-{{ loop.index }}">0</label>
                                            <input id="input1-lina2-{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-lina2-{{ loop.index }}">1</label>
                                            <input id="input2-lina2-{{ loop.index }}" name="val" type="radio" value="2" checked><label for="input2-lina2-{{ loop.index }}">2</label>
                                            {% elif item.notedKeywords.lina2[currentKeyword] == '1' %}
                                            <input id="input0-lina2-{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-lina2-{{ loop.index }}">0</label>
                                            <input id="input1-lina2-{{ loop.index }}" name="val" type="radio" value="1" checked><label for="input1-lina2-{{ loop.index }}">1</label>
                                            <input id="input2-lina2-{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-lina2-{{ loop.index }}">2</label>
                                            {% elif item.notedKeywords.lina2[currentKeyword] == '0' %}
                                            <input id="input0-lina2-{{ loop.index }}" name="val" type="radio" value="0" checked><label for="input0-lina2-{{ loop.index }}">0</label>
                                            <input id="input1-lina2-{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-lina2-{{ loop.index }}">1</label>
                                            <input id="input2-lina2-{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-lina2-{{ loop.index }}">2</label>
                                            {% else %}
                                            <input id="input0-lina2-{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-lina2-{{ loop.index }}">0</label>
                                            <input id="input1-lina2-{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-lina2-{{ loop.index }}">1</label>
                                            <input id="input2-lina2-{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-lina2-{{ loop.index }}">2</label>
                                            {% endif %}

                                            <ins class="loading"></ins>

                                        </form>

                                    </div>

                                {% endfor %}

                            </div>  <!-- End of a block keywords for lina1 notice -->

                        {% endif %} <!-- End of a if keywords for lina notices -->

                    <!-- Check if lina method 1 or 2 exist and create a global div for both -->
                    {% if keywords.scheme == 'lina1:notice' %}

                    </div> <!-- End of Lina List keywords Block -->

                    {% elif keywords.scheme == 'lina2:notice' %}

                    </div> <!-- End of Lina List keywords Block -->

                    {% endif %}



                    <!-- Check if Inist keywords are present -->
                    {% if keywords.scheme == 'inist-francis'  %}

                    <div id="keywordsDisplayDivInist"> <!-- Start Inist Keywords Block-->

                    {% elif keywords.scheme == 'inist-pascal'  %}

                    <div id="keywordsDisplayDivInist"> <!-- Start Inist Keywords Block-->

                    {% endif %}

                        <!-- Check if Inist keywords are present -->
                        {% if keywords.scheme == 'inist-francis' %}

                          {% if  keywords['xml#lang'] == 'fr' %}

                            <div id="inist-francis-{{ keywords['xml#lang'] }}">

                                {% set lang = keywords['xml#lang'] %}

                                <h2> INIST FRANCIS  {{ lang }} </h2>

                                {%  for keywordsAdv in keywords.term %}

                                    {% set currentKeyword = keywordsAdv['#text'] %}

                                    <div class="btn btn-default {% if item.notedKeywords['inist-francis'][lang][currentKeyword] %} keywordsLinasDisplayDone {% else %} keywordsLinasDisplay {% endif %}"> {{ keywordsAdv['#text']|d('de mots clés') }}

                                        <form class="formNotedKeyword row" id="inist-francis-{{ lang }}-{{ loop.index }}" name="formNotedKeyword" action="save/{{ item.wid }}" method="post">

                                            <input type="hidden" name="key" value="notedKeywords.inist-francis.{{ lang }}.{{ keywordsAdv['#text'] }}"/><!-- Key Name -->

                                            <!-- Value Name -->
                                            {% if item.notedKeywords['inist-francis'][lang][currentKeyword] == '2' %}
                                            <input id="input0-inist-francis.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-inist-francis.{{ lang }}.{{ loop.index }}">0</label>
                                            <input id="input1-inist-francis.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-inist-francis.{{ lang }}.{{ loop.index }}">1</label>
                                            <input id="input2-inist-francis.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="2" checked><label for="input2-inist-francis.{{ lang }}.{{ loop.index }}">2</label>
                                            {% elif item.notedKeywords['inist-francis'][lang][currentKeyword] == '1' %}
                                            <input id="input0-inist-francis.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-inist-francis.{{ lang }}.{{ loop.index }}">0</label>
                                            <input id="input1-inist-francis.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="1" checked><label for="input1-inist-francis.{{ lang }}.{{ loop.index }}">1</label>
                                            <input id="input2-inist-francis.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-inist-francis.{{ lang }}.{{ loop.index }}">2</label>
                                            {% elif item.notedKeywords['inist-francis'][lang][currentKeyword] == '0' %}
                                            <input id="input0-inist-francis.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="0" checked><label for="input0-inist-francis.{{ lang }}.{{ loop.index }}">0</label>
                                            <input id="input1-inist-francis.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-inist-francis.{{ lang }}.{{ loop.index }}">1</label>
                                            <input id="input2-inist-francis.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-inist-francis.{{ lang }}.{{ loop.index }}">2</label>
                                            {% else %}
                                            <input id="input0-inist-francis.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-inist-francis.{{ lang }}.{{ loop.index }}">0</label>
                                            <input id="input1-inist-francis.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-inist-francis.{{ lang }}.{{ loop.index }}">1</label>
                                            <input id="input2-inist-francis.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-inist-francis.{{ lang }}.{{ loop.index }}">2</label>
                                            {% endif %}

                                            <ins class="loading"></ins>

                                        </form>

                                    </div>

                                {% endfor %}

                            </div> <!-- End of Div inist-francis -->

                          {% endif %}<!-- End of check  fr lang only -->

                        {% endif %}<!-- End of check if inist-francis if available -->


                    {% endfor %}<!-- End of list all keywords -->


                </div> <!-- End of Block Keywords -->

            </section> <!-- End of Right  Section (Keywords) -->



            <div id="inistKeywordsButton" style="height: 90px;width:25px;background: #CC6A63;color:#fff;position: absolute;right: 0;top: calc(50% - 90px);"><span style="transform: rotate(270deg);width: 90px;height: 25px; transform-origin: 48% 165%;display: inline-block">Affiche INIST</span></div>



            <!-- Block of modal for full article -->
            <div id="fullArticleModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-2" style="display: none;">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">ARTICLE COMPLET</h4>
                </div>

                <div class="modal-dialog">
                    <div class="modal-content">
                        <article id="fullArticle" class="col-lg-12">
                            {{ body.item.content.json.TEI.text.body.div }}
                        </article>
                    </div>
                </div>

            </div><!-- End of modal for full -->

{% endblock %}

    {% block specificScript %}
        <script> var $ = jQuery = require('jquery'); </script>
        <script src="assets/js/parseWordPonct.function.js"></script>
        <script src="assets/js/parseGeneric.function.js"></script>
        <script src="assets/js/dmap.js"></script>
        <script src="assets/js/jquery.fs.scroller.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

            <script>

            var currentId = location.pathname.split('-')[1].split(".")[0];



            /*  Change the scroller style */
            $("#sectionArticle").scroller({
                customClass: "advanced",
            });


            /* Open the resume In full screen*/

            window.b = 0;

                $("#sectionResumeDisplayDocs").click(function () {
                    if(!(window.resumeClone)) {
                        var $theClone = jQuery(this).clone();
                        $theClone.appendTo('#showOnClickDiv');
                        $div = $('#showOnClickDiv');
                        $div.show().addClass('showOnClickDivView');
                        $div.find('h2').css({'background':'#fff', 'color': '#333'}).append('<span class="glyphicon glyphicon-remove crossToQuit"></span>');
                        $div.find('#sectionResumeDisplayDocs').removeClass('col-lg-6').addClass('col-lg-12').css('border' , '8px solid #fff');
                        $div.find('article').addClass('articleSectionResumeDisplayView').css('border', 'none');
                        $('#content').fadeTo( 500 , 0.12 );;
                        window.resumeClone = 1;
                    }
                });

            $("#keywordsDisplayDivInist").click(
                    function() {
                        if($("#keywordsDisplayDivInist").css('display') == 'none') {
                            $("#keywordsDisplayDivInist").show();
                        }
                        else{
                            $("#keywordsDisplayDivInist").hide();
                        }
                    }

            );


            $("#lina1Button").click(
                    function() {
                        if($("#lina1\\:notice").css('display') == 'none') {
                            $("#lina2\\:notice").hide();
                            $("#lina1\\:notice").show();
                        }
                    }

            );



            $("#lina2Button").click(
                    function() {
                        if($("#lina2\\:notice").css('display') == 'none') {
                            $("#lina1\\:notice").hide();
                            $("#lina2\\:notice").show();
                        }
                    }

            );

            //submit Ajax form
            $(".formNotedKeyword input").change(function(e)
            {
                var id = $(this).parent().attr('id');
                var postData = $(this).parent().serializeArray();
                var formURL = $(this).parent().attr("action");
                var li = $(this).parent().parent();
                console.log(li);

                $('#' + id + ' .loading').html('<span class="loader-quart" style="display: table-cell;"></span>').show();

                $.ajax(
                        {
                            url : formURL,
                            type: "POST",
                            data : postData,
                            success:function(e)
                            {
                                setTimeout(function () {
                                    $('#' + id +' .loading').html('<span class="loader-quart-ok" style="display: table-cell;"></span>').fadeOut(750);
                                    if(!li.hasClass("keywordsLinasDisplayDone")){
                                        li.addClass("keywordsLinasDisplayDone");
                                        li.removeClass("keywordsLinasDisplay");
                                    }
                                    li.css('box-shadow', '0px 1px 4px 0px green');
                                    setTimeout( function(){
                                        li.css('box-shadow', '');
                                    },750);
                                }, 900);

                            },
                            error: function()
                            {

                            }
                        });
                e.preventDefault(); //STOP default action

            });



        </script>
    {% endblock %}
