{% extends "layout.html" %}

{% block content %}

<!--end head block  -->
</head>


<body id="bodyBrowse">

    <div id="showOnClickDiv"></div>

    <div id="contentDisplay" class="col-lg-11 col-md-11 col-sm-11">



            <!-- LEFT BLOC -->
            <aside id="leftSection" class="col-lg-2 col-md-2 col-sm-2">

                <header id="headerInfoDisplayDocs">


                    <!-- THE NAV BAR -->
                    <div class="divTopDisplay">

                        <div id="divNavMiddle" class="col-lg-12 col-md-12 col-sm-12">
                            <p>
                                <a href="/browse.html">Liste</a> <!-- Return to browse Docs-->
                            </p>
                        </div>

                    </div>


                    <!-- NAME BLOC -->
                    <div class="displayDiscipline">
                        <div class="disciplineInfoDisplay">
                            <span>{{ item.mark|d('Linguistique') }}</span>
                        </div>
                    </div>

                    <!-- AUTHORS BLOC -->
                    <div class="displayMethodBu">

                        <div  class="methodsNameDisplayD">

                            <div id="method1Button" class="methodLinkround">
                                <span>Méthode 1</span>
                            </div>
                            <div id="method2Button" class="methodLinkround">
                                <span>Méthode 2</span>
                            </div>

                        </div>

                    </div>

                </header>


                <!-- RESUME BLOC -->
                <section id="sectionArticle">

                    <span class="glyphicon glyphicon-align-left resumeGliph"></span>

                    <article id="articleSectionResumeDisplay" style="">

                        <p>{{ item.content.json.TEI.teiHeader.profileDesc.abstract.p['#text']|d('Pas de résumé pour cet article') }}</p>

                    </article>

                </section>

            </aside>


            <!-- RIGHT  BLOCK (Keywords) -->
            <section id="keywordsSection" class="col-lg-10 col-md-10 col-sm-10">

                <div class="divHoverH1Display col-lg-12 col-md-12 col-sm-12">

                    <div id="h1Block">
                        <h1 id="h1DisplayDocs">
                            {% if item.content.json.TEI.teiHeader.fileDesc.titleStmt.title[0 ]%}
                                {{ item.content.json.TEI.teiHeader.fileDesc.titleStmt.title[0]['#text']|d('Pas de titre')}}
                            {% elif  item.content.json.TEI.teiHeader.fileDesc.titleStmt.title['#text'] %}
                                {{ item.content.json.TEI.teiHeader.fileDesc.titleStmt.title['#text']|d('Pas de titre')}}
                            {% endif %}
                        </h1>
                    </div>

                    <div id="arroundedBlock">

                    </div>


                </div>

                <p id="abstractFullLenght">{{ item.content.json.TEI.teiHeader.profileDesc.abstract.p['#text']|d('Pas de résumé pour cet article') }}</p>


                <div id="keywordsDisplayDiv" class="col-lg-12 col-md-12 col-sm-12">


                    {% set numberOfMethods = 0 %}

                    {% set currentNbMethod = 0 %}

                    {% set listOfMethodsName = [] %}

                    <!--  Count number of Methods present -->

                    {%  for keywordArray in item.content.json.TEI.teiHeader.profileDesc.textClass.keywords %}

                        {% set currentScheme = keywordArray.scheme %}

                        {% if (currentScheme != 'cc') and (currentScheme != 'author') and (keywordArray['xml#lang'] == 'fr') %}

                            {% if (currentScheme != 'inist-francis') or (currentScheme != 'inist-pascal') %}

                                {% set numberOfMethods = numberOfMethods+1 %}

                                {% set listOfMethodsName = listOfMethodsName + currentScheme %}

                            {% endif %}

                        {% endif %}

                    {% endfor %}



                    {%  for keywordArray in item.content.json.TEI.teiHeader.profileDesc.textClass.keywords %}

                        {% set currentScheme = keywordArray.scheme %}


                        <!-- IF Inist Keywords and others (lina) , all have to be in french-->

                        {% if (currentScheme != 'cc') and (currentScheme != 'author') and (keywordArray['xml#lang'] == 'fr') %}

                            {% if (currentScheme == 'inist-francis') or (currentScheme == 'inist-pascal') %}

                                <div id="keywordsInist">

                                    <h2> INIST {{ numberOfMethods }} {{listOfMethodsName}}</h2>

                                    {%  for currentInistKw in keywordArray.term %}

                                        {% set inistTxt = currentInistKw['#text'] %}

                                        {% for theInist in range(0,numberOfMethods -1) %}

                                        <div class="btn btn-default methode1F {{ listOfMethodsName }}{% if item.notedKeywords[currentScheme][listOfMethodsName[theInist]][inistTxt] %} keywordsLinasDisplayDone {% else %} keywordsLinasDisplay {% endif %}"> {{ inistTxt|d('Pas de mots clés') }}

                                            <form class="formNotedKeyword row" id="{{ currentScheme }}.{{ loop.index }}" name="formNotedKeyword" action="/save/{{ item.wid }}" method="post">

                                                <input type="hidden" name="key" value="notedKeywords.{{ currentScheme }}.topicrank.{{ inistTxt }}"/><!-- Key Name -->

                                                <!-- Value Name -->
                                                {% if item.notedKeywords[currentScheme].topicrank[inistTxt] == '2' %}
                                                <input id="input0-{{ currentScheme }}.topicrank.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-{{ currentScheme }}.topicrank.{{ loop.index }}">0</label>
                                                <input id="input1-{{ currentScheme }}.topicrank.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-{{ currentScheme }}.topicrank.{{ loop.index }}">1</label>
                                                <input id="input2-{{ currentScheme }}.topicrank.{{ loop.index }}" name="val" type="radio" value="2" checked><label for="input2-{{ currentScheme }}.topicrank.{{ loop.index }}">2</label>
                                                {% elif item.notedKeywords[currentScheme].topicrank[inistTxt] == '1' %}
                                                <input id="input0-{{ currentScheme }}.topicrank.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-{{ currentScheme }}.topicrank.{{ loop.index }}">0</label>
                                                <input id="input1-{{ currentScheme }}.topicrank.{{ loop.index }}" name="val" type="radio" value="1" checked><label for="input1-{{ currentScheme }}.topicrank.{{ loop.index }}">1</label>
                                                <input id="input2-{{ currentScheme }}.topicrank.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-{{ currentScheme }}.topicrank.{{ loop.index }}">2</label>
                                                {% elif item.notedKeywords[currentScheme].topicrank[inistTxt] == '0' %}
                                                <input id="input0-{{ currentScheme }}.topicrank.{{ loop.index }}" name="val" type="radio" value="0" checked><label for="input0-{{ currentScheme }}.topicrank.{{ loop.index }}">0</label>
                                                <input id="input1-{{ currentScheme }}.topicrank.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-{{ currentScheme }}.topicrank.{{ loop.index }}">1</label>
                                                <input id="input2-{{ currentScheme }}.topicrank.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-{{ currentScheme }}.topicrank.{{ loop.index }}">2</label>
                                                {% else %}
                                                <input id="input0-{{ currentScheme }}.topicrank.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-{{ currentScheme }}.topicrank.{{ loop.index }}">0</label>
                                                <input id="input1-{{ currentScheme }}.topicrank.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-{{ currentScheme }}.topicrank.{{ loop.index }}">1</label>
                                                <input id="input2-{{ currentScheme }}.topicrank.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-{{ currentScheme }}.topicrank.{{ loop.index }}">2</label>
                                                {% endif %}

                                                <ins class="loading"></ins>

                                            </form>

                                        </div>


                                        {% endfor %} <!-- End of multiple repeat inist keywords-->

                                    {% endfor %} <!-- End of inist Keywords Array -->

                                </div>

                            {% else %} <!-- UNDER: ALL lina method -->


                                {% set currentNbMethod = currentNbMethod+1 %}

                                <div id="lina{{ currentNbMethod }}ListOfKeywords" class="linaKeywords">

                                    <h2> Lina {{ currentNbMethod }} </h2>


                                    {%  for currentInistKw in keywordArray.term %}

                                        {% set methodTxt = currentInistKw['#text'] %}

                                            <div class="btn btn-default {% if item.notedKeywords[currentScheme][methodTxt] %} keywordsLinasDisplayDone {% else %} keywordsLinasDisplay {% endif %}"> {{ methodTxt|d('Pas de mots clés') }}

                                                <form class="formNotedKeyword row" id="method-{{ currentNbMethod }}-{{ loop.index }}" name="formNotedKeyword" action="/save/{{ item.wid }}" method="post">

                                                    <input type="hidden" name="key" value="notedKeywords.{{ currentScheme }}.{{ methodTxt }}"/><!-- Key Name -->

                                                    <!-- Value Name -->
                                                    {% if item.notedKeywords[currentScheme][methodTxt] == '2' %}
                                                    <input id="input0-{{ currentScheme }}.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-{{ currentScheme }}.{{ loop.index }}">0</label>
                                                    <input id="input1-{{ currentScheme }}.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-{{ currentScheme }}.{{ loop.index }}">1</label>
                                                    <input id="input2-{{ currentScheme }}.{{ loop.index }}" name="val" type="radio" value="2" checked><label for="input2-{{ currentScheme }}.{{ loop.index }}">2</label>
                                                    {% elif item.notedKeywords[currentScheme][methodTxt] == '1' %}
                                                    <input id="input0-{{ currentScheme }}.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-{{ currentScheme }}.{{ loop.index }}">0</label>
                                                    <input id="input1-{{ currentScheme }}.{{ loop.index }}" name="val" type="radio" value="1" checked><label for="input1-{{ currentScheme }}.{{ loop.index }}">1</label>
                                                    <input id="input2-{{ currentScheme }}.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-{{ currentScheme }}.{{ loop.index }}">2</label>
                                                    {% elif item.notedKeywords[currentScheme][methodTxt] == '0' %}
                                                    <input id="input0-{{ currentScheme }}.{{ loop.index }}" name="val" type="radio" value="0" checked><label for="input0-{{ currentScheme }}.{{ loop.index }}">0</label>
                                                    <input id="input1-{{ currentScheme }}.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-{{ currentScheme }}.{{ loop.index }}">1</label>
                                                    <input id="input2-{{ currentScheme }}.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-{{ currentScheme }}.{{ loop.index }}">2</label>
                                                    {% else %}
                                                    <input id="input0-{{ currentScheme }}.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-{{ currentScheme }}.{{ loop.index }}">0</label>
                                                    <input id="input1-{{ currentScheme }}.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-{{ currentScheme }}.{{ loop.index }}">1</label>
                                                    <input id="input2-{{ currentScheme }}.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-{{ currentScheme }}.{{ loop.index }}">2</label>
                                                    {% endif %}

                                                    <ins class="loading"></ins>

                                                </form>

                                            </div>



                                    {% endfor %}

                                </div>

                            {% endif %}

                        {% endif %}


                    {% endfor %}<!-- End of list all keywords -->


                </div> <!-- End of Block Keywords -->

            </section> <!-- End of Right  Section (Keywords) -->



            <!-- Block of modal for full article -->
            <div id="fullArticleModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-2" style="display: none;">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">ARTICLE COMPLET</h4>
                </div>

                <div class="modal-dialog">
                    <div class="modal-content">
                        <article id="fullArticle" class="col-lg-12 col-md-12 col-sm-12">
                            {{ body.item.content.json.TEI.text.body.div }}
                        </article>
                    </div>
                </div>

            </div><!-- End of modal for full -->

    </div>

    <div id="inistKeywordsButton"><span style="transform: rotate(270deg);width: 90px;height: 25px; transform-origin: 53% 166% 0;display: inline-block">Afficher INIST</span></div>


    {% endblock %}

    {% block specificScript %}
        <script> var $ = jQuery = require('jquery'); </script>
        <script src="../assets/js/parseWordPonct.function.js"></script>
        <script src="../assets/js/parseGeneric.function.js"></script>
        <script src="../assets/js/dmap.js"></script>
        <script src="../assets/js/jquery.fs.scroller.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

            <script>


            /*  Change the scroller style */
            $("#sectionArticle").scroller({
                customClass: "advanced",
            });


            /* Open the resume In full screen*/

            window.b = 0;

            $("#inistKeywordsButton").click(
                    function() {
                        if($('#abstractFullLenght').css('display') == 'block'){
                            $('#abstractFullLenght').hide();
                            $('#sectionArticle').css('opacity','1');
                        }
                        // If Keywords of Methods Or inist are not already show
                        if($("#keywordsDisplayDiv").css('display') == 'none') {
                            $("#keywordsDisplayDiv").show();
                            $(".linaKeywords").animate({width: '50%'}, 400);
                            $("#keywordsInist").show("slide", { direction: "right" }, 400);
                            $('span', this).html('Cacher INIST');
                            $(this).css({background: '#CC6A63'})
                        }
                        else{
                            $(".linaKeywords").animate({width: '100%'},400);
                            $("#keywordsInist").hide("slide", { direction: "right" }, 400);
                            $("#keywordsDisplayDiv").hide();
                            $('span', this).html('Afficher INIST');
                            $(this).css({background: ''})
                        }
                    }

            );

            // Can come back show the resume div and hide all other bothers div

            $("#sectionArticle").on('click', function(){
                if($(this).css('opacity') !== '0.15'){
                    if($('#abstractFullLenght').css('display') == 'none'){
                        $('#abstractFullLenght').css('display', 'block').siblings().not(".divHoverH1Display").hide();
                        $("#lina1ListOfKeywords").css('width' ,'100%');
                        $("#lina2ListOfKeywords").css('width' ,'100%');
                        $("#inistKeywordsButton > span").html('Afficher INIST');
                        $("#inistKeywordsButton").css('background', 'rgba(204, 106, 99, 0.6)');
                        $("#method1Button").css('borderColor' , '');
                        $("#method2Button").css('borderColor' , '');
                    }
                }
            });



            $("#method1Button").click(
                    function() {
                        if($('#abstractFullLenght').css('display') == 'block'){
                            $('#abstractFullLenght').hide();
                            $('#sectionArticle').css('opacity','1');
                            $("#keywordsDisplayDiv").show();
                        }
                        if($("#lina1ListOfKeywords").css('display') == 'none') {
                            $("#lina2ListOfKeywords").hide("slide", { direction: "right" }, 500);
                            $("#lina1ListOfKeywords").show("slide", { direction: "left" }, 500);
                            $(this).css('borderColor' , '#CC6A63');
                            $("#method2Button").css('borderColor' , '');
                            $('.methode2F').css('display', 'none');
                            $('.methode1F').css('display', '');
                        }
                        if($('#inistKeywordsButton').css('display') == 'none'){
                            $('#inistKeywordsButton').css('display' ,'block');
                        }
                    }

            );



            $("#method2Button").click(
                    function() {
                        if($('#abstractFullLenght').css('display') == 'block'){
                            $('#abstractFullLenght').hide();
                            $('#sectionArticle').css('opacity','1');
                            $("#keywordsDisplayDiv").show();
                        }
                        if($("#lina2ListOfKeywords").css('display') == 'none') {
                            $("#lina1ListOfKeywords").hide("drop", { direction: "left" }, 500);
                            $("#lina2ListOfKeywords").show("slide", { direction: "right" }, 500);
                            $(this).css('borderColor' , '#CC6A63');
                            $("#method1Button").css('borderColor' , '');
                            $('.methode1F').css('display', 'none');
                            $('.methode2F').css('display', '');

                        }
                        if($('#inistKeywordsButton').css('display') == 'none'){
                            $('#inistKeywordsButton').css('display' ,'block');
                        }
                    }

            );


            //submit Ajax form
            $(".formNotedKeyword input, .formNotedKeyword select").change(function(e)
            {
                var id = $(this).parent().attr('id');
                var postData = $(this).parent().serializeArray();
                var formURL = $(this).parent().attr("action");
                var li = $(this).parent().parent();

                $('#' + id + ' .loading').html('<span class="loader-quart" style="display: table-cell;"></span>').show();

                $.ajax(
                        {
                            url : formURL,
                            type: "POST",
                            data : postData,
                            success:function(e)
                            {
                                setTimeout(function () {
                                    $('#' + id +' .loading').html('<span class="loader-quart-ok" style="display: table-cell;"></span>').fadeOut(750);
                                    if(!li.hasClass("keywordsLinasDisplayDone")){
                                        li.addClass("keywordsLinasDisplayDone");
                                        li.removeClass("keywordsLinasDisplay");
                                        li.children('.formNotedKeywordsPreference').css('display','inline-block');
                                    }
                                    li.css('box-shadow', '0px 1px 4px 0px green');
                                    setTimeout( function(){
                                        li.css('box-shadow', '');
                                    },750);
                                }, 900);

                            },
                            error: function()
                            {

                            }
                        });
                e.preventDefault(); //STOP default action

            });



        </script>

{% endblock %}
