{% extends "layout.html" %}

{% block content %}

<!--end head block  -->
</head>


<body id="bodyBrowse">

    <div id="showOnClickDiv"></div>

    <div id="contentDisplay" class="col-lg-11">



            <!-- LEFT BLOC -->
            <aside id="leftSection" class="col-lg-2">

                <header id="headerInfoDisplayDocs">


                    <!-- THE NAV BAR -->
                    <div class="divTopDisplay">

                        <div id="divArrLeft" class="col-lg-4">
                            <span class="glyphicon glyphicon-arrow-left spanArrows"></span>
                        </div>

                        <div id="divNavMiddle" class="col-lg-4">
                            <p>
                                <a href="/browse.html">Liste</a> <!-- Return to browse Docs-->
                            </p>
                        </div>

                        <div id="divArrRight" class="col-lg-4">
                            <span class="glyphicon glyphicon-arrow-right spanArrows"></span>
                        </div>

                    </div>


                    <!-- NAME BLOC -->
                    <div class="displayDiscipline">
                        <div class="disciplineInfoDisplay"><span>{{ item.mark|d('Nom discipline') }}</span></div>
                    </div>

                    <!-- AUTHORS BLOC -->
                    <div class="displayMethodBu">

                        <div  class="methodsNameDisplayD">

                            <div id="method1Button" class="methodLinkround">
                                <span>Méthode 1</span>
                            </div>
                            <div id="method2Button" class="methodLinkround">
                                <span>Méthode 2</span>
                            </div>

                        </div>

                    </div>

                </header>


                <!-- RESUME BLOC -->
                <section id="sectionArticle">

                    <span class="glyphicon glyphicon-align-left resumeGliph"></span>

                    <article id="articleSectionResumeDisplay" style="">

                        <p>{{ item.content.json.TEI.teiHeader.profileDesc.abstract.p['#text']|d('Pas de résumé pour cet article') }}</p>

                    </article>

                </section>

            </aside>


            <!-- RIGHT  BLOCK (Keywords) -->
            <section id="keywordsSection" class="col-lg-10">

                <div class="divHoverH1Display col-lg-12">

                    <div id="h1Block">
                        <h1 id="h1DisplayDocs">{{ item.content.json.TEI.teiHeader.fileDesc.titleStmt.title[0]['#text']|truncate( 99, False, '...') |d('Pas de titre pour ce documents') }}</h1>
                    </div>

                    <div id="arroundedBlock">

                    </div>


                </div>

                <p id="abstractFullLenght">{{ item.content.json.TEI.teiHeader.profileDesc.abstract.p['#text']|d('Pas de résumé pour cet article') }}</p>


                <div id="keywordsDisplayDiv" class="col-lg-6">

                    {%  for keywords in item.content.json.TEI.teiHeader.profileDesc.textClass.keywords %}


                        <!-- First Lina Notice Method -->

                        {% if keywords.scheme == 'lina-1:notice:topicrank:candidats-termes' %}

                            {% set thisScheme = keywords.scheme %}

                                <div id="lina1ListOfKeywords">

                                    <h2> Méthode 1 </h2>

                                    {%  for keywordsAdv in keywords.term %}

                                        {% set currentKeyword = keywordsAdv['#text'] %}

                                        <div class="btn btn-default {% if item.notedKeywords['lina-1'].topicrank['candidats-termes'][currentKeyword] %} keywordsLinasDisplayDone {% else %} keywordsLinasDisplay {% endif %}"><!-- Check if keywords has already been evaluated & apply a style -->

                                        {{ keywordsAdv['#text']|d('de mots clés') }}

                                            <form class="formNotedKeyword row" id="lina-1-topicrank-{{ loop.index }}" name="formNotedKeyword" action="/save/{{ item.wid }}" method="post"><!-- Call save with current wid -->

                                                <input type="hidden" name="key" value="notedKeywords.lina-1.topicrank.candidats-termes.{{ keywordsAdv['#text'] }}"/> <!-- Key Name -->

                                                <!-- Value Name -->
                                                {% if item.notedKeywords['lina-1'].topicrank['candidats-termes'][currentKeyword] == '2' %}
                                                <input id="input0-lina1-{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-lina1-{{ loop.index }}">0</label>
                                                <input id="input1-lina1-{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-lina1-{{ loop.index }}">1</label>
                                                <input id="input2-lina1-{{ loop.index }}" name="val" type="radio" value="2" checked><label for="input2-lina1-{{ loop.index }}">2</label>
                                                {% elif item.notedKeywords['lina-1'].topicrank['candidats-termes'][currentKeyword] == '1' %}
                                                <input id="input0-lina1-{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-lina1-{{ loop.index }}">0</label>
                                                <input id="input1-lina1-{{ loop.index }}" name="val" type="radio" value="1" checked><label for="input1-lina1-{{ loop.index }}">1</label>
                                                <input id="input2-lina1-{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-lina1-{{ loop.index }}">2</label>
                                                {% elif item.notedKeywords['lina-1'].topicrank['candidats-termes'][currentKeyword] == '0' %}
                                                <input id="input0-lina1-{{ loop.index }}" name="val" type="radio" value="0" checked><label for="input0-lina1-{{ loop.index }}">0</label>
                                                <input id="input1-lina1-{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-lina1-{{ loop.index }}">1</label>
                                                <input id="input2-lina1-{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-lina1-{{ loop.index }}">2</label>
                                                {% else %}
                                                <input id="input0-lina1-{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-lina1-{{ loop.index }}">0</label>
                                                <input id="input1-lina1-{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-lina1-{{ loop.index }}">1</label>
                                                <input id="input2-lina1-{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-lina1-{{ loop.index }}">2</label>
                                                {% endif %}

                                                <ins class="loading"></ins>

                                            </form>

                                        </div>

                                    {% endfor %}

                                </div> <!-- End of a block keywords for lina1 notice topicrank candidats termes -->

                        {% elif keywords.scheme == 'lina-1:notice:topicrank:n-gramm' %}

                        <div id="lina1ListOfKeywords">

                            <h2> Méthode 1 </h2>

                            {%  for keywordsAdv in keywords.term %}

                            {% set currentKeyword = keywordsAdv['#text'] %}

                            <div class="btn btn-default {% if item.notedKeywords['lina-1'].topicrank['candidats-termes'][currentKeyword] %} keywordsLinasDisplayDone {% else %} keywordsLinasDisplay {% endif %}"><!-- Check if keywords has already been evaluated & apply a style -->

                                {{ keywordsAdv['#text']|d('de mots clés') }}

                                <form class="formNotedKeyword row" id="lina-1-topicrank-{{ loop.index }}" name="formNotedKeyword" action="/save/{{ item.wid }}" method="post"><!-- Call save with current wid -->

                                    <input type="hidden" name="key" value="notedKeywords.lina-1.topicrank.candidats-termes.{{ keywordsAdv['#text'] }}"/> <!-- Key Name -->

                                    <!-- Value Name -->
                                    {% if item.notedKeywords['lina-1'].topicrank['candidats-termes'][currentKeyword] == '2' %}
                                    <input id="input0-lina1-{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-lina1-{{ loop.index }}">0</label>
                                    <input id="input1-lina1-{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-lina1-{{ loop.index }}">1</label>
                                    <input id="input2-lina1-{{ loop.index }}" name="val" type="radio" value="2" checked><label for="input2-lina1-{{ loop.index }}">2</label>
                                    {% elif item.notedKeywords['lina-1'].topicrank['candidats-termes'][currentKeyword] == '1' %}
                                    <input id="input0-lina1-{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-lina1-{{ loop.index }}">0</label>
                                    <input id="input1-lina1-{{ loop.index }}" name="val" type="radio" value="1" checked><label for="input1-lina1-{{ loop.index }}">1</label>
                                    <input id="input2-lina1-{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-lina1-{{ loop.index }}">2</label>
                                    {% elif item.notedKeywords['lina-1'].topicrank['candidats-termes'][currentKeyword] == '0' %}
                                    <input id="input0-lina1-{{ loop.index }}" name="val" type="radio" value="0" checked><label for="input0-lina1-{{ loop.index }}">0</label>
                                    <input id="input1-lina1-{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-lina1-{{ loop.index }}">1</label>
                                    <input id="input2-lina1-{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-lina1-{{ loop.index }}">2</label>
                                    {% else %}
                                    <input id="input0-lina1-{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-lina1-{{ loop.index }}">0</label>
                                    <input id="input1-lina1-{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-lina1-{{ loop.index }}">1</label>
                                    <input id="input2-lina1-{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-lina1-{{ loop.index }}">2</label>
                                    {% endif %}

                                    <ins class="loading"></ins>

                                </form>

                            </div>

                            {% endfor %}

                        </div> <!-- End of a block keywords for lina1 notice  topicrank n-gramm-->


                        <!-- Second Lina Notice Method -->

                        {% elif keywords.scheme == 'lina-1:notice:tfidf:candidats-termes' %}

                            <div id="lina2ListOfKeywords">

                                <h2> Méthode 2 </h2>

                                {%  for keywordsAdv in keywords.term %}

                                {% set currentKeyword = keywordsAdv['#text'] %}

                                    <div class="btn btn-default {% if item.notedKeywords['lina-1'].tfidf['candidats-termes'][currentKeyword] %} keywordsLinasDisplayDone {% else %} keywordsLinasDisplay {% endif %}"> {{ keywordsAdv['#text']|d('de mots clés') }}

                                        <form class="formNotedKeyword row" id="lina-1-tfidf-{{ loop.index }}" name="formNotedKeyword" action="/save/{{ item.wid }}" method="post"><!-- Call save with current wid -->

                                            <input type="hidden" name="key" value="notedKeywords.lina-1.tfidf.candidats-termes.{{ keywordsAdv['#text'] }}"/><!-- Key Name -->

                                            <!-- Value Name -->
                                            {% if item.notedKeywords['lina-1'].tfidf['candidats-termes'][currentKeyword] == '2' %}
                                            <input id="input0-lina2-{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-lina2-{{ loop.index }}">0</label>
                                            <input id="input1-lina2-{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-lina2-{{ loop.index }}">1</label>
                                            <input id="input2-lina2-{{ loop.index }}" name="val" type="radio" value="2" checked><label for="input2-lina2-{{ loop.index }}">2</label>
                                            {% elif item.notedKeywords['lina-1'].tfidf['candidats-termes'][currentKeyword] == '1' %}
                                            <input id="input0-lina2-{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-lina2-{{ loop.index }}">0</label>
                                            <input id="input1-lina2-{{ loop.index }}" name="val" type="radio" value="1" checked><label for="input1-lina2-{{ loop.index }}">1</label>
                                            <input id="input2-lina2-{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-lina2-{{ loop.index }}">2</label>
                                            {% elif item.notedKeywords['lina-1'].tfidf['candidats-termes'][currentKeyword] == '0' %}
                                            <input id="input0-lina2-{{ loop.index }}" name="val" type="radio" value="0" checked><label for="input0-lina2-{{ loop.index }}">0</label>
                                            <input id="input1-lina2-{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-lina2-{{ loop.index }}">1</label>
                                            <input id="input2-lina2-{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-lina2-{{ loop.index }}">2</label>
                                            {% else %}
                                            <input id="input0-lina2-{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-lina2-{{ loop.index }}">0</label>
                                            <input id="input1-lina2-{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-lina2-{{ loop.index }}">1</label>
                                            <input id="input2-lina2-{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-lina2-{{ loop.index }}">2</label>
                                            {% endif %}

                                            <ins class="loading"></ins>

                                        </form>

                                    </div>

                                {% endfor %}

                            </div>  <!-- End of a block keywords for lina1 tfidf candidat thermes-->

                        {% elif keywords.scheme == 'lina-1:notice:tfidf:n-gram' %}

                        <div id="lina2ListOfKeywords">

                            <h2> Méthode 2 </h2>

                            {%  for keywordsAdv in keywords.term %}

                            {% set currentKeyword = keywordsAdv['#text'] %}

                            <div class="btn btn-default {% if item.notedKeywords['lina-1'].tfidf['n-gram'][currentKeyword] %} keywordsLinasDisplayDone {% else %} keywordsLinasDisplay {% endif %}"> {{ keywordsAdv['#text']|d('de mots clés') }}

                                <form class="formNotedKeyword row" id="lina-1-tfidf-{{ loop.index }}" name="formNotedKeyword" action="/save/{{ item.wid }}" method="post"><!-- Call save with current wid -->

                                    <input type="hidden" name="key" value="notedKeywords.lina-1.tfidf.n-gram.{{ keywordsAdv['#text'] }}"/><!-- Key Name -->

                                    <!-- Value Name -->
                                    {% if item.notedKeywords['lina-1'].tfidf['n-gram'][currentKeyword] == '2' %}
                                    <input id="input0-lina2-{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-lina2-{{ loop.index }}">0</label>
                                    <input id="input1-lina2-{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-lina2-{{ loop.index }}">1</label>
                                    <input id="input2-lina2-{{ loop.index }}" name="val" type="radio" value="2" checked><label for="input2-lina2-{{ loop.index }}">2</label>
                                    {% elif item.notedKeywords['lina-1'].tfidf['n-gram'][currentKeyword] == '1' %}
                                    <input id="input0-lina2-{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-lina2-{{ loop.index }}">0</label>
                                    <input id="input1-lina2-{{ loop.index }}" name="val" type="radio" value="1" checked><label for="input1-lina2-{{ loop.index }}">1</label>
                                    <input id="input2-lina2-{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-lina2-{{ loop.index }}">2</label>
                                    {% elif item.notedKeywords['lina-1'].tfidf['n-gram'][currentKeyword] == '0' %}
                                    <input id="input0-lina2-{{ loop.index }}" name="val" type="radio" value="0" checked><label for="input0-lina2-{{ loop.index }}">0</label>
                                    <input id="input1-lina2-{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-lina2-{{ loop.index }}">1</label>
                                    <input id="input2-lina2-{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-lina2-{{ loop.index }}">2</label>
                                    {% else %}
                                    <input id="input0-lina2-{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-lina2-{{ loop.index }}">0</label>
                                    <input id="input1-lina2-{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-lina2-{{ loop.index }}">1</label>
                                    <input id="input2-lina2-{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-lina2-{{ loop.index }}">2</label>
                                    {% endif %}

                                    <ins class="loading"></ins>

                                </form>

                            </div>

                            {% endfor %}

                        </div>  <!-- End of a block keywords for lina1 tfidf n-gramm-->

                        {% endif %} <!-- End of a if keywords for lina notices -->


                    <!-- Check if Inist keywords are present for div start-->
                    {% if keywords.scheme == 'inist-francis'  %}

                    {% if  keywords['xml#lang'] == 'fr' %}

                    <div class="keywordsDisplayDivInist"> <!-- Start Inist Keywords Block-->

                    {% endif %}


                    {% elif keywords.scheme == 'inist-pascal'  %}

                    {% if  keywords['xml#lang'] == 'fr' %}

                    <div class="keywordsDisplayDivInist"> <!-- Start Inist Keywords Block-->

                    {% endif %}

                    {% endif %}

                        <!-- Check if Inist keywords are present for generation-->
                        {% if keywords.scheme == 'inist-francis' %}

                          {% if  keywords['xml#lang'] == 'fr' %}

                            <div id="inist-francis-{{ keywords['xml#lang'] }}">

                                {% set lang = keywords['xml#lang'] %}

                                <h2> INIST </h2>

                                {%  for keywordsAdv in keywords.term %}

                                    {% set currentKeyword = keywordsAdv['#text'] %}

                                    <div class="btn btn-default methode1F {% if item.notedKeywords['inist-francis'].topicrank[currentKeyword] %} keywordsLinasDisplayDone {% else %} keywordsLinasDisplay {% endif %}"> {{ keywordsAdv['#text']|d('de mots clés') }}

                                        <form class="formNotedKeyword row" id="inist-francis-topicrank-{{ loop.index }}" name="formNotedKeyword" action="/save/{{ item.wid }}" method="post">

                                            <input type="hidden" name="key" value="notedKeywords.inist-francis.topicrank.{{ keywordsAdv['#text'] }}"/><!-- Key Name -->

                                            <!-- Value Name -->
                                            {% if item.notedKeywords['inist-francis'].topicrank[currentKeyword] == '2' %}
                                            <input id="input0-inist-francis.topicrank.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-inist-francis.topicrank.{{ loop.index }}">0</label>
                                            <input id="input1-inist-francis.topicrank.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-inist-francis.topicrank.{{ loop.index }}">1</label>
                                            <input id="input2-inist-francis.topicrank.{{ loop.index }}" name="val" type="radio" value="2" checked><label for="input2-inist-francis.topicrank.{{ loop.index }}">2</label>
                                            {% elif item.notedKeywords['inist-francis'].topicrank[currentKeyword] == '1' %}
                                            <input id="input0-inist-francis.topicrank}.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-inist-francis.topicrank.{{ loop.index }}">0</label>
                                            <input id="input1-inist-francis.topicrank.{{ loop.index }}" name="val" type="radio" value="1" checked><label for="input1-inist-francis.topicrank.{{ loop.index }}">1</label>
                                            <input id="input2-inist-francis.topicrank.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-inist-francis.topicrank.{{ loop.index }}">2</label>
                                            {% elif item.notedKeywords['inist-francis'].topicrank[currentKeyword] == '0' %}
                                            <input id="input0-inist-francis.topicrank.{{ loop.index }}" name="val" type="radio" value="0" checked><label for="input0-inist-francis.topicrank.{{ loop.index }}">0</label>
                                            <input id="input1-inist-francis.topicrank.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-inist-francis.topicrank.{{ loop.index }}">1</label>
                                            <input id="input2-inist-francis.topicrank.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-inist-francis.topicrank.{{ loop.index }}">2</label>
                                            {% else %}
                                            <input id="input0-inist-francis.topicrank.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-inist-francis.topicrank.{{ loop.index }}">0</label>
                                            <input id="input1-inist-francis.topicrank.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-inist-francis.topicrank.{{ loop.index }}">1</label>
                                            <input id="input2-inist-francis.topicrank.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-inist-francis.topicrank.{{ loop.index }}">2</label>
                                            {% endif %}

                                            <ins class="loading"></ins>

                                        </form>

                                    </div>

                                    <div class="btn btn-default methode2F {% if item.notedKeywords['inist-francis'].tfidf[currentKeyword] %} keywordsLinasDisplayDone {% else %} keywordsLinasDisplay {% endif %}"> {{ keywordsAdv['#text']|d('de mots clés') }}


                                            <form class="formNotedKeyword row" id="inist-francis-tfidf-{{ loop.index }}" name="formNotedKeyword" action="/save/{{ item.wid }}" method="post">

                                            <input type="hidden" name="key" value="notedKeywords.inist-francis.tfidf.{{ keywordsAdv['#text'] }}"/><!-- Key Name -->

                                            <!-- Value Name -->
                                            {% if item.notedKeywords['inist-francis'].tfidf[currentKeyword] == '2' %}
                                            <input id="input0-inist-francis.tfidf.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-inist-francis.tfidf.{{ loop.index }}">0</label>
                                            <input id="input1-inist-francis.tfidf.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-inist-francis.tfidf.{{ loop.index }}">1</label>
                                            <input id="input2-inist-francis.tfidf.{{ loop.index }}" name="val" type="radio" value="2" checked><label for="input2-inist-francis.tfidf.{{ loop.index }}">2</label>
                                            {% elif item.notedKeywords['inist-francis'].tfidf[currentKeyword] == '1' %}
                                            <input id="input0-inist-francis.tfidf.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-inist-francis.tfidf.{{ loop.index }}">0</label>
                                            <input id="input1-inist-francis.tfidf.{{ loop.index }}" name="val" type="radio" value="1" checked><label for="input1-inist-francis.tfidf.{{ loop.index }}">1</label>
                                            <input id="input2-inist-francis.tfidf.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-inist-francis.tfidf.{{ loop.index }}">2</label>
                                            {% elif item.notedKeywords['inist-francis'].tfidf[currentKeyword] == '0' %}
                                            <input id="input0-inist-francis.tfidf.{{ loop.index }}" name="val" type="radio" value="0" checked><label for="input0-inist-francis.tfidf.{{ loop.index }}">0</label>
                                            <input id="input1-inist-francis.tfidf.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-inist-francis.tfidf.{{ loop.index }}">1</label>
                                            <input id="input2-inist-francis.tfidf.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-inist-francis.tfidf.{{ loop.index }}">2</label>
                                            {% else %}
                                            <input id="input0-inist-francis.tfidf.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-inist-francis.tfidf.{{ loop.index }}">0</label>
                                            <input id="input1-inist-francis.tfidf.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-inist-francis.tfidf.{{ loop.index }}">1</label>
                                            <input id="input2-inist-francis.tfidf.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-inist-francis.tfidf.{{ loop.index }}">2</label>
                                            {% endif %}

                                            <ins class="loading"></ins>

                                        </form>

                                    </div>

                                {% endfor %}

                            </div> <!-- End of Div inist-francis -->

                          {% endif %}<!-- End of check  fr lang only -->

                        <!-- Check if Inist pascal keywords are present for generation-->
                        {% elif keywords.scheme == 'inist-pascal' %}

                        {% if  keywords['xml#lang'] == 'fr' %}

                        <div id="inist-francis-{{ keywords['xml#lang'] }}">

                            {% set lang = keywords['xml#lang'] %}

                            <h2> INIST  </h2>

                            {%  for keywordsAdv in keywords.term %}

                            {% set currentKeyword = keywordsAdv['#text'] %}

                            <div class="btn btn-default methode2F {% if item.notedKeywords['inist-pascal'][lang][currentKeyword] %} keywordsLinasDisplayDone {% else %} keywordsLinasDisplay {% endif %}"> {{ keywordsAdv['#text']|d('de mots clés') }}

                                <form class="formNotedKeyword row" id="inist-pascal-{{ lang }}-{{ loop.index }}" name="formNotedKeyword" action="/save/{{ item.wid }}" method="post">

                                    <input type="hidden" name="key" value="notedKeywords.inist-pascal.{{ lang }}.{{ keywordsAdv['#text'] }}"/><!-- Key Name -->

                                    <!-- Value Name -->
                                    {% if item.notedKeywords['inist-pascal'][lang][currentKeyword] == '2' %}
                                    <input id="input0-inist-pascal.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-inist-pascal.{{ lang }}.{{ loop.index }}">0</label>
                                    <input id="input1-inist-pascal.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-inist-pascal.{{ lang }}.{{ loop.index }}">1</label>
                                    <input id="input2-inist-pascal.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="2" checked><label for="input2-inist-pascal.{{ lang }}.{{ loop.index }}">2</label>
                                    {% elif item.notedKeywords['inist-pascal'][lang][currentKeyword] == '1' %}
                                    <input id="input0-inist-pascal.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-inist-pascal.{{ lang }}.{{ loop.index }}">0</label>
                                    <input id="input1-inist-pascal.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="1" checked><label for="input1-inist-pascal.{{ lang }}.{{ loop.index }}">1</label>
                                    <input id="input2-inist-pascal.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-inist-pascal.{{ lang }}.{{ loop.index }}">2</label>
                                    {% elif item.notedKeywords['inist-pascal'][lang][currentKeyword] == '0' %}
                                    <input id="input0-inist-pascal.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="0" checked><label for="input0-inist-pascal.{{ lang }}.{{ loop.index }}">0</label>
                                    <input id="input1-inist-pascal.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-inist-pascal.{{ lang }}.{{ loop.index }}">1</label>
                                    <input id="input2-inist-pascal.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-inist-pascal.{{ lang }}.{{ loop.index }}">2</label>
                                    {% else %}
                                    <input id="input0-inist-pascal.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-inist-pascal.{{ lang }}.{{ loop.index }}">0</label>
                                    <input id="input1-inist-pascal.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-inist-pascal.{{ lang }}.{{ loop.index }}">1</label>
                                    <input id="input2-inist-pascal.{{ lang }}.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-inist-pascal.{{ lang }}.{{ loop.index }}">2</label>
                                    {% endif %}

                                    <ins class="loading"></ins>

                                </form>

                            </div>

                            <div class="btn btn-default methode2F {% if item.notedKeywords['inist-pascal'].tfidf[currentKeyword] %} keywordsLinasDisplayDone {% else %} keywordsLinasDisplay {% endif %}"> {{ keywordsAdv['#text']|d('de mots clés') }}


                                <form class="formNotedKeyword row" id="inist-pascal-tfidf-{{ loop.index }}" name="formNotedKeyword" action="/save/{{ item.wid }}" method="post">

                                    <input type="hidden" name="key" value="notedKeywords.inist-pascal.tfidf.{{ keywordsAdv['#text'] }}"/><!-- Key Name -->

                                    <!-- Value Name -->
                                    {% if item.notedKeywords['inist-pascal'].tfidf[currentKeyword] == '2' %}
                                    <input id="input0-inist-pascal.tfidf.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-inist-pascal.tfidf.{{ loop.index }}">0</label>
                                    <input id="input1-inist-pascal.tfidf.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-inist-pascal.tfidf.{{ loop.index }}">1</label>
                                    <input id="input2-inist-pascal.tfidf.{{ loop.index }}" name="val" type="radio" value="2" checked><label for="input2-inist-pascal.tfidf.{{ loop.index }}">2</label>
                                    {% elif item.notedKeywords['inist-pascal'].tfidf[currentKeyword] == '1' %}
                                    <input id="input0-inist-pascal.tfidf.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-inist-pascal.tfidf.{{ loop.index }}">0</label>
                                    <input id="input1-inist-pascal.tfidf.{{ loop.index }}" name="val" type="radio" value="1" checked><label for="input1-inist-pascal.tfidf.{{ loop.index }}">1</label>
                                    <input id="input2-inist-pascal.tfidf.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-inist-pascal.tfidf.{{ loop.index }}">2</label>
                                    {% elif item.notedKeywords['inist-pascal'].tfidf[currentKeyword] == '0' %}
                                    <input id="input0-inist-pascal.tfidf.{{ loop.index }}" name="val" type="radio" value="0" checked><label for="input0-inist-pascal.tfidf.{{ loop.index }}">0</label>
                                    <input id="input1-inist-pascal.tfidf.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-inist-pascal.tfidf.{{ loop.index }}">1</label>
                                    <input id="input2-inist-pascal.tfidf.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-inist-pascal.tfidf.{{ loop.index }}">2</label>
                                    {% else %}
                                    <input id="input0-inist-pascal.tfidf.{{ loop.index }}" name="val" type="radio" value="0"><label for="input0-inist-pascal.tfidf.{{ loop.index }}">0</label>
                                    <input id="input1-inist-pascal.tfidf.{{ loop.index }}" name="val" type="radio" value="1"><label for="input1-inist-pascal.tfidf.{{ loop.index }}">1</label>
                                    <input id="input2-inist-pascal.tfidf.{{ loop.index }}" name="val" type="radio" value="2"><label for="input2-inist-pascal.tfidf.{{ loop.index }}">2</label>
                                    {% endif %}

                                    <ins class="loading"></ins>

                                </form>

                            </div>

                            {% endfor %}

                        </div> <!-- End of Div inist-pascal -->

                        {% endif %}<!-- End of check  fr lang only -->

                        {% endif %}<!-- End of check if inist-francis if available -->



                        <!-- Check if Inist keywords are present -->
                        {% if keywords.scheme == 'inist-francis'  %}

                        </div> <!-- end Inist Keywords Block-->

                        {% elif keywords.scheme == 'inist-pascal'  %}

                        </div> <!-- end Inist Keywords Block-->

                        {% endif %}

                    {% endfor %}<!-- End of list all keywords -->


                </div> <!-- End of Block Keywords -->

            </section> <!-- End of Right  Section (Keywords) -->



            <div id="inistKeywordsButton" style=""><span style="transform: rotate(270deg);width: 90px;height: 25px; transform-origin: 53% 166% 0;display: inline-block">Afficher INIST</span></div>



            <!-- Block of modal for full article -->
            <div id="fullArticleModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-2" style="display: none;">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">ARTICLE COMPLET</h4>
                </div>

                <div class="modal-dialog">
                    <div class="modal-content">
                        <article id="fullArticle" class="col-lg-12">
                            {{ body.item.content.json.TEI.text.body.div }}
                        </article>
                    </div>
                </div>

            </div><!-- End of modal for full -->

{% endblock %}

    {% block specificScript %}
        <script> var $ = jQuery = require('jquery'); </script>
        <script src="../assets/js/parseWordPonct.function.js"></script>
        <script src="../assets/js/parseGeneric.function.js"></script>
        <script src="../assets/js/dmap.js"></script>
        <script src="../assets/js/jquery.fs.scroller.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

            <script>


            /*  Change the scroller style */
            $("#sectionArticle").scroller({
                customClass: "advanced",
            });


            /* Open the resume In full screen*/

            window.b = 0;

            $("#inistKeywordsButton").click(
                    function() {
                        if($('#abstractFullLenght').css('display') == 'block'){
                            $('#abstractFullLenght').hide();
                            $('#sectionArticle').css('opacity','1');
                        }
                        if($("#keywordsDisplayDiv").css('display') == 'none') {
                            $("#lina1ListOfKeywords").animate({width: '50%'}, 400);
                            $("#lina2ListOfKeywords").animate({width: '50%'}, 400);
                            $("#keywordsDisplayDiv").show();
                            $(".keywordsDisplayDivInist").show("slide", { direction: "right" }, 400);
                            $('span', this).html('Cacher INIST');
                            $(this).css({background: '#CC6A63'})
                        }
                        else{
                            $("#lina1ListOfKeywords").animate({width: '100%'},400);
                            $("#lina2ListOfKeywords").animate({width: '100%'},400);
                            $(".keywordsDisplayDivInist").hide("slide", { direction: "right" }, 400);
                            $("#keywordsDisplayDiv").hide();
                            $('span', this).html('Afficher INIST');
                            $(this).css({background: ''})
                        }
                    }

            );



            $("#method1Button").click(
                    function() {
                        if($('#abstractFullLenght').css('display') == 'block'){
                            $('#abstractFullLenght').hide();
                            $('#sectionArticle').css('opacity','1');
                        }
                        if($("#lina1ListOfKeywords").css('display') == 'none') {
                            $("#lina2ListOfKeywords").hide("slide", { direction: "right" }, 500);
                            $("#lina1ListOfKeywords").show("slide", { direction: "left" }, 500);
                            $(this).css('borderColor' , '#CC6A63');
                            $("#method2Button").css('borderColor' , '');
                            $('.methode2F').css('display', 'none');
                            $('.methode1F').css('display', '');
                        }
                        if($('#inistKeywordsButton').css('display') == 'none'){
                            $('#inistKeywordsButton').css('display' ,'block');
                        }
                    }

            );



            $("#method2Button").click(
                    function() {
                        if($('#abstractFullLenght').css('display') == 'block'){
                            $('#abstractFullLenght').hide();
                            $('#sectionArticle').css('opacity','1');
                        }
                        if($("#lina2ListOfKeywords").css('display') == 'none') {
                            $("#lina1ListOfKeywords").hide("drop", { direction: "left" }, 500);
                            $("#lina2ListOfKeywords").show("slide", { direction: "right" }, 500);
                            $(this).css('borderColor' , '#CC6A63');
                            $("#method1Button").css('borderColor' , '');
                            $('.methode1F').css('display', 'none');
                            $('.methode2F').css('display', '');

                        }
                        if($('#inistKeywordsButton').css('display') == 'none'){
                            $('#inistKeywordsButton').css('display' ,'block');
                        }
                    }

            );

            //submit Ajax form
            $(".formNotedKeyword input").change(function(e)
            {
                var id = $(this).parent().attr('id');
                var postData = $(this).parent().serializeArray();
                var formURL = $(this).parent().attr("action");
                var li = $(this).parent().parent();
                console.log(li);

                $('#' + id + ' .loading').html('<span class="loader-quart" style="display: table-cell;"></span>').show();

                $.ajax(
                        {
                            url : formURL,
                            type: "POST",
                            data : postData,
                            success:function(e)
                            {
                                setTimeout(function () {
                                    $('#' + id +' .loading').html('<span class="loader-quart-ok" style="display: table-cell;"></span>').fadeOut(750);
                                    if(!li.hasClass("keywordsLinasDisplayDone")){
                                        li.addClass("keywordsLinasDisplayDone");
                                        li.removeClass("keywordsLinasDisplay");
                                    }
                                    li.css('box-shadow', '0px 1px 4px 0px green');
                                    setTimeout( function(){
                                        li.css('box-shadow', '');
                                    },750);
                                }, 900);

                            },
                            error: function()
                            {

                            }
                        });
                e.preventDefault(); //STOP default action

            });



        </script>
    {% endblock %}
