<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Export Routes</title>
</head>
<body>

    <table id="exportTable" class="display" cellspacing="0" width="100%">
       <thead>
            <tr>
                <td> ID :</td>
                <td> Document: </td>
            </tr>
       </thead>

       <tbody>
            {% for document in data %}
                <tr>
                    <td>{{ document.wid }}</td>
                    <td>
                        {% if document.content.json.TEI.teiHeader.fileDesc.titleStmt.title[0]%}
                            {{ document.content.json.TEI.teiHeader.fileDesc.titleStmt.title[0]['#text']|d('Pas de titre')}}
                        {% elif  document.content.json.TEI.teiHeader.fileDesc.titleStmt.title['#text'] %}
                            {{ document.content.json.TEI.teiHeader.fileDesc.titleStmt.title['#text']|d('Pas de titre')}}
                        {% endif %}
                    </td>
                    <td>

                    </td>
                </tr>
            {% endfor %}
       </tbody>

    </table>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <script src="./assets/js/jquery.dataTables.js"></script>
    <script src="./assets/js/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function() {
            $('#exportTable').dataTable();
        });
    </script>

</body>
</html>