{% extends "layout.html" %}

{% block head %}
<title>Liste des documents provenant des fichiers TEI - IDEFIX</title>
{% endblock %}

{% block content %}
<!--end head block  -->
<body id="bodyBrowse">

<span title="Montrer les informations" class="glyphicon glyphicon-info-sign showInformations"></span>

<!--Exports PopUP  -->
<div id="exportMenu">
    <span style="" class="infosQuit glyphicon glyphicon-remove"></span>
    {% if config.exports.csv == true %}
    <div id="exportCSV" class="btn btn-default exportButtons" data-href="/exportCSV">Fichier CSV <span class="glyphicon glyphicon-file"></span>
        <br/>
        <span class="glyphicon glyphicon-download"></span>
    </div>
    {% endif %}

    {% if config.exports.xml == true %}
    <div id="exportXML" class="btn btn-default exportButtons" data-href="/exportXML">Corpus XML <span class="glyphicon glyphicon-book"></span>
        <br/>
        <span class="glyphicon glyphicon-download"></span>
    </div>
    {% endif %}

    {% if config.exports.zipXML == true %}
    <div id="exportZIP" class="btn btn-default exportButtons" data-href="/exportZIP">Fichier ZIP/XML <span class="glyphicon glyphicon-floppy-disk"></span>
        <br/>
        <span class="glyphicon glyphicon-download"></span>
    </div>
    {% endif %}

</div>

<div id="accueilInfos" class="informationsContent" style="display: none" data-src="https://raw.githubusercontent.com/termith-anr/scripts-formats/master/Screens/png/0-accueil.png">
    <span class="infosQuit glyphicon glyphicon-remove"></span>
</div>

<div id="exportInfos" class="informationsContent" style="display: none" data-src="https://raw.githubusercontent.com/termith-anr/scripts-formats/master/Screens/png/18-export.png">
    <span class="infosQuit glyphicon glyphicon-remove" ></span>
</div>

<div id="couleursListeInfos" class="informationsContent" style="display: none" data-src="https://raw.githubusercontent.com/termith-anr/scripts-formats/master/Screens/png/3-ouvertureDoc.png/;/https://raw.githubusercontent.com/termith-anr/scripts-formats/master/Screens/png/2-selectionDoc.png">
    <span class="infosQuit glyphicon glyphicon-remove" ></span>
</div>


<!-- start body content -->
<div class="col-lg-9" id="BrowseDocuBigDiv">

    <div class="row">
        <h1 id="h1Browse" class="col-lg-11">
            <p>L<span style="color: #FF8E80;">i</span>ste d<span style="color: #99E5DB">e</span>s <span style="color: #FF917F">d</span>ocuments<span title="informations" class="glyphicon glyphicon-info-sign informations" data-id="accueilInfos" style="display: none"></span>
                <br></p>
            <img src="assets/created/img/idefix3.1.svg" title="Interface d’évaluation de la conformité de l'indexation {% if config.package %} V.{{config.package.version}}{% endif %}" width="150" height="150" style="position: absolute;opacity: 0.65;left: 4%;top: 9%;height: 128px;width: 110px;transform: rotate(-30deg);cursor:help;"/>
                        <span id="spanLogos">
                            <a class="linkLogosPatner" target="_blank" rel="nofollow" href="http://www.anr.fr/"><img class="partnerLogos" src="assets/vendor/img/anr.png" alt="logo de l'ANR" /></a>
                            <a class="linkLogosPatner" target="_blank" rel="nofollow" href="http://www.atilf.fr/ressources/termith/"><img class="partnerLogos" src="assets/created/img/logo_termith.png" alt="logo termith modifié" /></a>

                        </span>
        </h1>
        <div id="exportButton" class="btn btn-default" >Exporter les résultats</div><span title="informations" class="glyphicon glyphicon-info-sign informations" data-id="exportInfos" style="display: none"></span>
        <div id="guidesLink" class="btn btn-default" >Aides</div>
    </div>


    <div id="divOverTableBrowse" class="col-lg-12">
        <span title="informations" class="glyphicon glyphicon-info-sign informations" data-id="couleursListeInfos" style="display: none"></span>
        <table id="browseTable" width="100%">
            <div id="selectBrowseDocs">
                <label for="browseChangeList">Afficher :</label>
                <select name="browseChangeList" id="browseChangeList">
                    <option value="tous" selected="selected">Tous</option>
                    <option value="traites">Traités</option>
                    <option value="nonTraites">Non traités</option>
                </select>
            </div>
            <thead id="menuThead">
            <tr>
                <th class="browseNumbTh col-lg-1">N°</th>
                <th class="browseNumbTh col-lg-1">VALIDATION</th>
                <th class="browseYearTh  col-lg-2">DOCUMENT</th>
                <th class="browseTitleTh  col-lg-6">TITRE</th>
            </tr>
            </thead>
            <tbody>
            <tr class="trBody" data-href="">
            </tr>
            </tbody>
        </table>

    </div>
</div>

<footer style="bottom:0; background: #555555 ; height: 250px;">
    <div class="col-lg-2"></div>
    <div class="col-lg-8" style="display:flex;flex-direction: column;justify-content: space-around; align-items: center; height: 100%">
        <div>
            <a class="linkLogosPatner" target="_blank" rel="nofollow" href="http://www.cnrs.fr/"><img class="partnerLogosFooter" src="assets/vendor/img/logo_cnrs.png" alt="logo du cnrs" /></a>
            <!--<a class="linkLogosPatner" target="_blank" rel="nofollow" href="http://www.univ-lorraine.fr/"><img class="partnerLogos"src="assets/pictures/logo_UL.png" alt="logo de l'université de Lorraine"  /></a>-->
            <a class="linkLogosPatner" target="_blank" rel="nofollow" href="http://lidilem.u-grenoble3.fr/"><img class="partnerLogosFooter" src="assets/vendor/img/logo_lidilem.png" alt="logo de lidilem" /></a>
            <a class="linkLogosPatner" target="_blank" rel="nofollow" href="http://www.lina.univ-nantes.fr/"><img class="partnerLogosFooter" src="assets/vendor/img/logo_lina.jpg" alt="logo de l'ANR" /></a>
            <a class="linkLogosPatner" target="_blank" rel="nofollow" href="http://www.atilf.fr/"><img class="partnerLogosFooter" src="assets/vendor/img/atilf.jpg" alt="logo de l'ATILF" /></a>
            <a class="linkLogosPatner" target="_blank" rel="nofollow" href="http://www.inria.fr/"><img class="partnerLogosFooter" src="assets/vendor/img/logo_inria.png" alt="logo de inria" /></a>
        </div>

    </div>
</footer>

{% endblock %}

{% block scripts %}

<script src="/assets/vendor/js/jquery.dataTables.js"></script>
<script src="/assets/vendor/js/dataTables.bootstrap.js"></script>
<script src="/assets/created/js/browse.js"></script>

{% endblock %}

