<!DOCTYPE html>
<html>
  <head>

    {% block head %}
        <title> {{ page.title }} | {{ site.title }} </title>
        <meta name="description" content="{{ page.description|d(site.description) }}">
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/jquery.fs.scroller.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.css">

      {% endblock %}

	  {% block content %}
      {% endblock %}

	{% block scripts %}
        <script src="/bundle.js"></script>

        <!-- Primus scripts -->
        <script src="/primus/primus.js"></script>
        <script>
            var primus = Primus.connect('ws://{{url.host}}');
            primus.on('open', function () {
                primus.on('changed', function(doc) { console.log('changed', doc); });
                primus.on('cancelled', function(doc) { console.log('cancelled', doc); });
                primus.on('dropped', function(doc) { console.log('dropped', doc); });
                primus.on('added', function(doc) { console.log('added', doc); });
            });
        </script>

	{% endblock %}

      {% block specificScript %}

      {% endblock %}

      </body>

</html>


