<!DOCTYPE html>
<html>
	<head>

        {% block head %}
        {% endblock %}

        <meta name="description" content="{{ page.description|d(site.description) }}">
		<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/jquery.fs.scroller.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.css">
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">

        <!--<script src="/bundle.js"></script> -->
	</head>

	{% block content %}
	{% endblock %}

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>

	{% block scripts %}
	{% endblock %}

</body>
</html>


