/*
*
* Template For Castor termITH
*
* By Matthias DIEUDONNE
*
* matthias.dieudonne@gmail.com
*
*/

@import url(http://fonts.googleapis.com/css?family=Abel);

@font-face {
    font-family: 'segoe'; src: url('../fonts/segoeui.ttf');
}

@font-face {
    font-family: 'segoeprb'; src: url('../fonts/segoeprb.ttf');
}
@font-face {
    font-family: 'segoepr'; src: url('../fonts/segoepr.ttf');
}
@font-face {
    font-family: 'segoeuisl'; src: url('../fonts/segoeuisl.ttf');
}

@font-face {
    font-family: 'raleway'; src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'lmr'; src: url('../fonts/lmromanslant10-regular.otf');
}


@media (min-width: 1600px) {



}

html{
    height: 100%;

}


.bgYellow{
    background: #FFA65A;
}

.bgRed{
    background: #FF7471;
}

.test{
    background: #bb9ff5;

}

.italic{
    font-style: italic;
    font-size: 12px;
}

.bold{
    font-weight: bold;
}


body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body > header{
    display: none;
}
#BrowseDocuBigDiv{
    background: #F2F2F2;
    margin: 0 auto;
    padding-top: 50px ;
    float: none !important;
    text-align: center;
    box-shadow: 0px -49px 90px #CC6A63 !important;
}

#showOnClickDiv{
    display:none;
    transition: all 0.9s ease;
}

.showOnClickDivView{
    position: absolute;
    width: 80%;
    float:none;
    margin: 0 auto;
    left: 10%;
    z-index:99;
    opacity: 1;
}

#content{
    height: 90%;
    margin: 0 auto;
    float:none;
    top: 5%;
    padding: 0;
    box-shadow: 6px 6px 1px #444;
    overflow: hidden;
    background: #ffffff;
}

#contentDisplay{
    height: 90%;
    margin: 0 auto;
    float:none;
    top: 5%;
    padding: 0;
    box-shadow: 6px 6px 1px #444;
    overflow: hidden;
    background: #ffffff;
    border-top: 1px solid #555;
    border-left: 1px solid #555;
}

/*#bodyBrowse{
    background: #E5E5E5 ;
}*/

#divOverTableBrowse{
    margin: 0 auto;
    float:none;
    padding-bottom: 150px;
}

#menuThead{
    transition :  all 350ms;
}

.fixedThead{
    position: fixed;
    top: 0;
    background: rgba(85, 85, 85, 1);
    color : #fff !important;
    cursor: text !important;
    -webkit-box-shadow: 0px 6px 3px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    0px 6px 3px 0px rgba(50, 50, 50, 0.6);
    box-shadow:         0px 6px 3px 0px rgba(50, 50, 50, 0.6);
}

.fixedThead .browseYearTh{
   color : #fff !important;
    border-right: 1px solid #fff;
    cursor: text !important;

}

.fixedThead .browseTitleTh{
    color : #fff !important;
    cursor: text !important;

}

#timer{
    width: 100%;
    height: 23px;
    margin-top: 10px;
    text-align: center;
    font-size: 23px;
    color: #8F8F8F;
    line-height: 23px;
    font-family: segoe,"verdana",sans-serif,arial;
}




#h1Browse{
    font-size: 39px;
    color: rgba(85, 85, 85, 0.8);
    font-family: verdana;
    letter-spacing: 12px;
    float: none;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: none repeat scroll 0% 0% transparent;
    border: 2px solid rgba(85, 85, 85, 0.7);
    margin: 0px auto 50px;
    border-radius: 75px 0px;
    box-shadow: 7px 7px 2px 0px rgba(204, 106, 99, 0.6);
    height: 165px;
    max-height: 165px;
    overflow: hidden;
}

#exportDiv{
    display: flex;
    height: 300px;
    max-height: 300px;
    margin-bottom: 50px;
    align-items: center;
    background: grey;
    box-shadow: 7px 7px 2px 0 rgba(204,106,99,0.6);
    border-radius: 0 75px 0 0;

}

#backAbsctract{
    cursor: pointer;
}

#backAbsctract:hover{
    color: #fff;
}
.resumeKeywordsFull{
    margin: 0 auto;
    padding: 0;
    float:none;
}

#divOverTableBrowse{
    margin-top: 75px;
}

#browseTable{
    text-align: center;
    padding-top: 0px !important
;
    margin: 0 auto;
    width: 100%;
    border-collapse:separate;
    border-spacing:0 50px;
}

#browseTable{
    text-align: center;
    padding-top:50px;
    margin: 0 auto;
    width: 100%;
    border-collapse:separate;
    border-spacing:0 50px;
}

#browseTable thead{
    border-spacing: 0;
    border-collapse: collapse;
}



#browseTable thead tr th {
    border-collapse:collapse;
    border-top: 2px solid rgba(85,85,85,0.7);
    border-bottom: 2px solid rgba(85,85,85,0.7);

}

#browseTable tbody tr td {
    border-spacing:0;
}



.browseTd{
    height:135px;
    font-size: 22px;
    font-family: 'segoe';
}

tHead .browseTd{
    height: auto;
}

.browseTr{
    height:135px;
}

.browseNumbTh{
    color: #fff;
    padding-bottom: 17px;
    padding-top: 17px;
}

.browseYearTh{
    padding-bottom: 17px;
    padding-top: 17px;
    color: rgba(85, 85, 85, 0.8);
    text-align: center;
    width: 25%;

}

.browseAuthorTh{
    color: #fff;
    padding-bottom: 17px;
    padding-top: 17px;

}

.browseTitleTh{
    color: rgba(85,85,85,0.8);
    padding-bottom: 17px;
    padding-top: 17px;
    text-align: center;
    width: 75%;


}

.browseMarkTh{
    color: #fff;
    padding-bottom: 17px;
    padding-top: 17px;

}

.browseTdInter{
    height:35px;
}

tbody .browseNumb{
    background: #CC6A63;
    color: #fff;
}

tbody .browseYear{
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid rgba(85, 85, 85, 0.4);
    border-right: 1px solid rgba(85, 85, 85, 0.4);
    border-top: 1px solid rgba(85, 85, 85, 0.4);
    font-family: "segoeuisl" , arial, sans-serif;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
    word-wrap: break-word;
    background: #CC6A63;
    color: #fff;
    width: 25% !important;
}

tbody .abrowseNumber{
    color: #fff;
    transition: all 700ms;
    height: 100%;
    width: 100%;
    line-height: 135px;
    display: inline-block;
    transition: all 1500ms;
}

tbody .abrowseNumber:hover{
    background: #8F44AD;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

tbody .divAbrowseNumber{
    height:100%;
    width:100%;
    display:inline;
    vertical-align:middle;
}


tbody .browseTitle{
    padding-left:2%;
    padding-right:2%;
    background: transparent;
    color: rgba(85,85,85,0.8);
    border-right: 1px solid rgba(85,85,85,0.7);
    border-top: 1px solid rgba(85,85,85,0.7);
    border-bottom: 1px solid rgba(85,85,85,0.7);
    color: #555;
    transition: all 700ms ease 0s;
    font-size: 20px;
    font-family: "segoeuisl" , sans-serif;
    width: 75% !important;

}

tbody .abrowseTitle{
    color: rgba(85,85,85,1);
    transition: all 700ms;
    font-size:20px;
    font-family: 'segoeuisl';
}

tbody .abrowseTitle:hover{
    color: #fff;
}

.browseAuthor{
    padding:4px;
    color: #fff;
    background: #34CDB8;
    font-family: 'segoepr';
}


thead .browseSize{
    color: #fff;
}


.browseCategory{
    padding:4px;
    background: #5BB1FC;
    color: #fff;
}

.browseMark{
    padding:4px;
    background: #FFA65A;
    color: #fff;
    font-family: 'segoepr';
    font-size:25px;
}

td{
    transition: all 550ms;
}

.trBody:hover{
    cursor: pointer;
}

.trBody > td{
    border-collapse: separate;
    border-spacing: 10px;
}

.trBody:hover  .browseNumb, .trBody:hover  .browseMark,  .trBody:hover .browseCategory, .trBody:hover  .browseTitle, .trBody:hover  .browseAuthor, .trBody:hover  .browseYear {
    background: #CC6A63 !important;
    color: #fff !important;
    border-color: #fff;
}

.trBody:hover .browseTitle a {
    color: #fff !important;
}

.trBody:hover .spanBrowseMark {
    background: #fff;
    color: #333;
    padding:20px;
    border-radius:15px;
}

table tr[data-href] {
    cursor: pointer;
}

.divNoDocs{
    margin: 0 auto;
    float:none;
    font-family: 'segoepr';
    color:#fff;
    font-size:55px;
    text-align:center;
    margin-top:130px;
}

.spanDivNoDocs{
    font-size:70px;
}

#startOrStop{
    width: 100%;
    height: 23px;
    margin-top: 5px;
    font-size: 23px;
    color: #8F8F8F;
    line-height: 23px;
    cursor: pointer;
}


/*
* Under: Display Docs!
*/

#divArrLeft{
    text-align:center;
    color:#fff;
    font-size:17px;
    height: 100%;
    display: table;
    max-height:100%;
    overflow:hidden;
}

#divArrLeft span{
    display: table-cell;
    vertical-align: middle;
}

#divArrRight{
    display: table;
    text-align: center;
    height:100%;
    font-size:17px;
    max-height:100%;
    overflow:hidden;
}

#divArrRight span{
    display: table-cell;
    vertical-align: middle;
}

#divNavMiddle{
    display:table;
    height:100%;
    text-align:center;
    color:#fff;
    font-size:17px;
    max-height:100%;
    overflow:hidden;
}

#divNavMiddle p{
    line-height: normal;
    display:table-cell;
    vertical-align: middle;
}

#divNavMiddle p a{
    color: #fff;
    font-family: segoe , verdana , sans-serif, arial;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
}

.spanArrows{
    line-height:normal;
    text-align:center;
    color: rgba(0,0,0,0.1);
    font-size:17px;

}


#leftSection{
    height: 100%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    padding:0;
    /*border-right: 1px solid rgba(51, 51, 51, 0.3);*/
    position: relative;
}

#headerInfoDisplayDocs{
    width:  100%;
    height: 65%;
    position: absolute;
    top:0;
    overflow-x: hidden;
    overflow-y: auto;
}


.headerDisplayInfos{
    padding:0;
    margin:0;
}

.authorAndyear{
    padding:0;
    margin:0;
    height:300px;
}

.displayYear{
    background: #44B2BA ;
    color:  #fff;
    font-family: 'segoeuisl';
    text-align: center;
    font-size: 18px;
    height:28%;
    display:table;
    width: 100%;
}

.timeGliph{
    margin: 0 auto;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left:7px;
    padding-right: 7px;
    width: 1px;
}

.timeInfoDispaly{
    display: table-cell;
    vertical-align: middle;
    font-size: 23px;
}

.displayMethodBu {
    color: #333;
    display: table;
    font-family: "segoe";
    font-size: 17px;
    height: calc(100% - 256px);
    max-height: calc(100% - 256px);
    overflow: hidden;
    text-align: center;
    width: 100%;
}


.methodLinkround span{
    display: table-cell;
    vertical-align: middle;
    font-size: 15px;
}

.authorGliph{
    margin: 0 auto;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left:7px;
    padding-right: 7px;
    width: 1px;
    background-color: #CC6A63;
    color: #fff;
}

.methodsNameDisplayD {
    display: table-cell;
    font-style: italic;
    max-height: 100%;
    padding-bottom: 15px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
}

.methodLinkround:first-child{
    margin-top: 0 !important;
}

.displayDiscipline{
    color: #fff;
    font-family: 'segoe';
    text-align: center;
    font-size: 20px;
    height: 105px;
    display:table;
    width: 100%;
}

.disciplineGliph{
    margin: 0 auto;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left:7px;
    padding-right: 7px;
    width: 1px;
    background: #CC6A63;
}

.methodLinkround{
    border: 11px solid rgba(204, 106, 99, 0.6);
    border-radius: 95px;
    display: table;
    height: 95px;
    margin: 15px auto 0;
    position: relative;
    width: 95px;
    font-size: 15px;
    text-align: center;
    font-family: segoe,"Georgia",serif;
    color: #8F8F8F;
    font-style: italic;
    transition: all 250ms;
    -moz-user-select: none;
    user-select : none;
}

.methodLinkround:hover{
    border: 6px solid #FF847C !important;
}

.disciplineInfoDisplay{
    background: none repeat scroll 0 0 #cc6a63;
    color: #E0E0E0;
    border-radius: 0 50px;
    display: table;
    font-size: 18px;
    height: 75px;
    margin: 15px auto 0;
    padding: 7px;
    position: relative;
    vertical-align: middle;
    width: 80%;
    font-style: italic;
    text-transform: uppercase;
}

.disciplineInfoDisplay span{
    display: table-cell;
    vertical-align: middle;
}

.divTopDisplay{
    line-height: normal;
    width: calc(100% + 1px);
    padding: 0;
    margin: 0;
    height: 35px;
    background: #CC6A63;

}


.divHoverH1Display{
    line-height: normal;
    margin: 0;
    background: #CC6A63;
    z-index: 8;
    display:block;
    border-radius: 0 0 0 2px;
    height: 25%;
    position: fixed;
    width: 76.311%;
    padding: 0;
    top: calc(5% + 1px);
}

#arroundedBlock{
    background: none repeat scroll 0 0 #fff;
    border-radius: 50% / 100% 100% 0 0;
    bottom: 0;
    height: 50%;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    box-shadow: 0 -5px 3px -6px rgba(74, 78, 79, 0.7)
    z-index: 9;
}

#h1Block{
    display:table;
    height:50%;
    width: 100%;
}


#h1DisplayDocs{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    display: table-cell;
    float: none;
    font-family: segoe, 'verdana', sans-serif, arial;
    font-size: 19px;
    line-height: normal;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}


#sectionResumeDisplayDocs{
    margin-top: 0px;
    text-align:center;
    padding: 0;
    transition: all 0.9s;
}

#sectionKeywordsDocs{
    margin-top: 0px;
    text-align:center;
    padding:0;
}

.divHoverResume{
    height: 15%;
    display:table;
    width: 100%;
    transition: all 650ms;
    cursor: pointer;
}

.resumeGliph{
    background: none repeat scroll 0 0 #CC6A63;
    color: #E5E5E5;
    display: inline-block;
    font-size: 23px;
    line-height: normal;
    margin: 0 auto;
    padding-top: 0;
    position: static;
    transition: all 650ms ease 0s;
    width: 100%;
}

/*surcharge fixed resume */
.resumeGliph{
    position: fixed;
    left: 4.2%;
    width: 15%;
    top: 63.5%;
}

#linkFullArticle{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size:18px;
    font-family: 'segoeprb';
    color:#fff;
    transition: all 650ms;
}

.divHoverResume:hover #linkFullArticle{
    background: #ffffff !important;
    color: #444 !important;
}

.divHoverResume:hover  span{
    background: #ffffff !important;
    color: #333 !important;
}

.divHoverResume:hover {
    background: #ffffff;
    color: #333;
}





.scroller-content{
    padding: 0 !important;
}

#sectionArticle{
    bottom:0;
    height:35%;
    width: 100%;
    max-height: 35%;
    overflow-y: hidden;
    overflow-x: hidden;
    opacity: 0.15;
    position: absolute;
    padding-top: 30px;
}

#sectionArticle .scroller-content{

}

#sectionArticle .scroller-handle , #headerInfoDisplayDocs .scroller-handle , #keywordsDisplayDiv .scroller-handle{
    background: none repeat scroll 0 0 #CC6A63;
    opacity: 1;
    border:0;
    border-radius: 0;
    width:100%;
    right: 0;
}


div .methodsameDisplayD{
    font-size: 15px;
}

span .methodsameDisplayD{
    font-size: 17px;
}


#keywordsSection{
    max-width:95%;
    text-align:center;
    height:100%;
    padding:0;
    overflow-y: hidden;
    overflow-x:hidden;
    hyphens: auto;
    word-wrap: normal;
    position: relative;
}

#keywordsSection h2{
    margin-bottom: 40px;
    color: #666;
    font-family: segoe;
    font-size: 21px;
    font-weight: bold;
    font-style: italic;
}

.keywordsGliph{
    float:right;
    color:#fff;
    font-size:35px;
    margin-top:19px;
    margin-right:35px;
}

#keywordsSection .scroller-content{


}

#keywordsSection .scroller-handle{
    border-radius: 2px;
}

#articleSectionResumeDisplay{
    color: #333;
    margin: 27px auto;
    padding: 18px;
    word-wrap: break-word;
    font-size:16px;
    display: block;
    vertical-align: middle;
    font-family: 'georgia';
}

.articleSectionResumeDisplayView{
    color: #333;
    font-family: 'segoeuisl';
    font-size: 19px;
    padding: 30px;
    display: block;
    text-align: center;
    vertical-align: middle;
    border-color: #fff !important;


}

.keydorsInList{
    display: table;
    float: none !important;
    margin: 25px auto 0 !important;
}

#keywordsDisplayDiv{
    position: relative;
    top:17%;
    z-index:99999;
    float: right;
    overflow-y: hidden;
    height: 83%;
    display: none;
    overflow-x: hidden;
    padding: 0;
    -webkit-border-top-left-radius: 22%;
    -webkit-border-top-right-radius: 22%;
    -moz-border-radius-topleft: 22%;
    -moz-border-radius-topright: 22%;
    border-top-left-radius: 22%;
    border-top-right-radius: 22%;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
}

#keywordsInist{
    position: relative;
    display: none;
    width: 50%;
    float: right;
    border-left: 3px dotted rgba(204, 106, 99, 0.6);
}


.divForListKeywords{
    min-height: 200px;
    width:75%;
    margin: 0 auto;
    padding-bottom:40px;
}



#divSectionKeywordsDisplay{
    padding-left: 6px;
    padding-top:60px;
    border-left: 6px dotted #fff;
    border-right: 12px solid #FF7A85;
    border-bottom: 12px solid #FF7A85;
    height: 300px;
    max-height:300px;
    overflow: hidden;
    word-wrap: break-word;

}


.keywordsScrollBar{
    background: blue;
}

#divSectionKeywordsDisplay ul{
    padding: 0;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

.h2SectionsDisplayDocs{
    color: #fff;
    float: none;
    font-family: 'segoeprb';
    font-size: 25px;
    margin: 0;
    padding: 26px;
    transition: all 750ms;

}


.h3KeywordsDisplayDocs {
    background: none repeat scroll 0 0 white;
    border-radius: 5px;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    color: #333;
    font-family: verdana;
    font-size: 25px;
    margin: 50px auto 0;
    padding: 20px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;

}

.h3KeywordsDisplayDocs:first-Child{
    border:0;
    margin-top:0;
    margin-top: 50px;
}

.keywordsUtilsDisplay{
    background-image:none;
    background: #fff;
    color:#333;
    border:0;
    margin:6px;
    font-size: 16px;
    font-family: 'segoeuisl';
}

.methodsKeywords{
    display:none;
    position: absolute;
}

.keywordsUtilsDisplay:hover{
    background-image:none;
    background: #fff;
    color:#333;
    border:0;
    margin:6px;
    font-size: 16px;
}

.keywordsinistDisplay{
    background-image:none;
    background: #fff;
    color:#333;
    border:0;
    margin:6px;
    font-size: 16px;
    font-family: 'segoeuisl';
}

.keywordsinistDisplay:hover{
    background-image:none;
    background: #fff;
    color:#333;
    border:0;
    margin:6px;
    font-size: 16px;
}


.keywordsAuthorsDisplay{
    background-image:none;
    background: #fff;
    color:#333;
    border:0;
    margin:6px;
    font-size: 16px;
    font-family: 'segoeuisl';
}

.keywordsAuthorsDisplay:hover{
    background-image:none;
    background: #fff;
    color:#333;
    border:0;
    margin:6px;
    font-size: 16px;
}

.keywordsMethodsDisplay{
    min-width: 135px;
    background: none repeat scroll 0 0 transparent;
    border: 2px dashed #FF9C95;
    color: #333;
    font-family: 'segoe', verdana;
    font-size: 16px;
    font-style: italic;
    margin: 10px;
    text-shadow: none;
    /*transition: all 2000ms;*/
    height: 105px;
    max-height: 105px;
    overflow-y: hidden;
    cursor: auto !important;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    border-radius: 16px;
}

.keywordsMethodsDisplay:hover{
    border-color: #CC6A63;
}

.keywordsMethodsDisplayDone{
    position: relative;
    min-width: 135px;
    background: none repeat scroll 0 0 transparent;
    border: 1px solid rgba(85,85,85,0.3);
    color: #333;
    font-family: 'segoe',verdana;
    font-size: 16px;
    font-style: italic;
    margin: 10px;
    text-shadow: none;
    transition: background 500ms;
    height: 105px;
    max-height: 105px;
    max-width: 100%;
    overflow: hidden;
    opacity: 0.7;
    cursor: auto !important;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    border-radius: 16px;
}

.keywordsMethodsDisplayDone:hover{
    background: none repeat scroll 0 0 transparent;
    transition: all 500ms;
}
.keywordsMethodsDisplay:hover{
    background: none repeat scroll 0 0 transparent;
    transition: all 500ms;
}


.frenchFlag{
    height:40px;
    width:90px;
    background: white;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom:20px;
}

.frenchFlagBlue{
    height:40px;
    width:30px;
    background: #4758AA;
    margin: 0 auto;
    float:left;
}

.frenchFlagRed{
    height:40px;
    width:30px;
    background: #F05261;
    float:right
}


.englandFlag{
    height:40px;
    width:90px;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom:20px;
    background: #fff;
}

.englandFlagVertical{
    width: 10px;
    background: #F05261;
    height:40px;
    margin-left:40px;
}

.englandFlagHorizontal{
    background: none repeat scroll 0 0 #f05261;
    bottom: 25px;
    height: 10px;
    position: relative;
    width: 90px;
}

input[type=radio] {
    display:none;
}

input[type=radio] + label {
    display:inline-block;
    margin: 5px;
    padding: 4px 12px;
    background-color: #e7e7e7;
    border-color: #ddd;
    color: #555;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}

input[type=radio] + label:hover {
    background: #CC6A63;
    color: #fff;
}


input[type=radio]:checked + label {
    background-image: none;
    background-color:transparent;
    font-weight: bold;
}

.methodsKeywords input[value='0']:checked + label {
    background-image: none;
    color: red;
}

.methodsKeywords input[value='1']:checked + label {
    background-image: none;
    color: orange;
}

.methodsKeywords input[value='2']:checked + label {
    background-image: none;
    color: green;
}


#keywordsInist input[value='0']:checked + label {
    background-image: none;
    color: green;
}

#keywordsInist input[value='1']:checked + label {
    background-image: none;
    color: orange;
}

#keywordsInist input[value='2']:checked + label {
    background-image: none;
    color: red;
}

.formNotedKeyword{
}

.formNotedKeyword label{
    cursor: pointer;
}

.loader-quart{

    height: 30px;
    width: 30px;
    border-radius: 30px;
    display: inline-block;
    border: 4px solid rgba(0,0,0,0.3);
    position: relative;

}
.loader-quart:after{
    content: '';
    border-radius: 30px;
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    border: 4px  solid transparent;
    border-top-color: rgba(0,0,0,0.6);
    animation : spin 450ms linear 0s infinite;
    -webkit-animation : spin 1s linear 0s infinite;

}

.loader-quart-ok{

    height: 30px;
    width: 30px;
    border-radius: 30px;
    display: inline-block;
    border:4px solid #51D21F;
    animation : spin 1s linear 0s infinite;
    position: relative;

}

@keyframes spin{
    0%{
        transform :rotate(0deg);
    }
    100%{
        transform :rotate(360deg);
    }
}
@-webkit-keyframes spin{
    0%{
        -webkit-transform :rotate(0deg);
    }
    100%{
        -webkit-transform :rotate(360deg);
    }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/*
*Under : Full article
*/

#sectionCompletArticle{
    padding:0;
    margin:0;

}

#sectionCompletArticle:hover .h2FullArticle{
    background: #fff;
    color: #555;
}

#sectionCompletArticle:hover #fullArticle{
    border-color: #fff;
    border-right: 6px solid #fff;
    padding-right: 12px;
}

#sectionCompletArticle:hover ~ #sectionResumeDisplayDocs #articleSectionResumeDisplay{
    border-left: none;
    padding-left: 23px;
}



#sectionKeywordsDocs:hover .h2SectionsDisplayDocs{
    background: #fff;
    color: #555;
}

#sectionKeywordsDocs:hover #divSectionKeywordsDisplay{
    border-color: #fff;
    border-left: 6px solid #fff;
}

#sectionResumeDisplayDocs:hover .h2SectionsDisplayDocs{
    background: #fff;
    color: #555;
}

#sectionResumeDisplayDocs:hover #articleSectionResumeDisplay{
    border-color: #fff;
    border-right: 6px solid #fff;
    border-left: 6px solid #fff;
    padding-right: 13px;
}

#sectionResumeDisplayDocs:hover ~ #sectionKeywordsDocs #divSectionKeywordsDisplay{
    border-left: none;
    padding-left:12px;

}


.h2FullArticle{
    color:#fff;
    text-align: center;
    margin: 0 auto;
    float:none;
    margin-top:0px;
    font-family: 'segoeprb';
    font-size: 30px;
    padding: 26px;
    background: #D98E66;
    transition: all 750ms;
}

.h3FullArticle{
    color:#333;
    font-family: 'segoepr';
    font-size: 35px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

#fullArticle{
    color: #333;
    margin: 0 auto;
    float:none;
    height: auto;
    margin-top:0;
    padding:18px;
    max-width:100%;
    overflow: hidden;
    word-wrap: break-word;
}

.divFullArticle{
    font-family:verdana;
    margin-top:30px;
}

.figureFullArticle{
    margin-top:50px;
    margin-bottom:50px;
    text-align: center;
    max-width:100%;
}

.imgFullArticle{
    margin: 0 auto;
    max-width:100%;

}

.pFullArticle{
    padding: 15px;
}

.figureFullArticle{
    text-align: center;
}

.figcaptionFullArticle{
    margin-bottom:10px;
}

.scroller-track{
    background: #E5E5E5 !important;
}


.scroller-bar{
    border-left: 0 !important;
    height: 100% !important;
}


.loading{
    display: table;
    margin: 2px auto;
}


#lina2ListOfKeywords{
    position: absolute;
    z-index: 193;
    display: none;
    overflow-y: auto;
    width: 100%;
    height: 75%;
}

#lina1ListOfKeywords{
    position: absolute;
    z-index: 193;
    width: 100%;
    overflow-y: auto;
    height: 75%;
    display: none;
}

#inistKeywordsButton{
    height: 100px;
    width:30px;
    background: rgba(204,106,99,0.6);
    color:#fff;
    position: absolute;
    right: 0;
    top: calc(50% - 100px);
    border-radius: 10px 0 0 10px;
    display: none;
}

#inistKeywordsButton:hover{
    background: #ff847c !important;
    color: #f5f5f5;
}

#inistKeywordsButton span{
    transform: rotate(270deg);
    width: 90px;
    height: 25px;
    transform-origin: 55% 174% 0px;
    display: inline-block;
}

.divOnResume{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 87.75%;
    position:absolute;
    top: 12.25%;
}

#abstractFullLenght{
    display: block;
    color: #444;
    font-family: "Georgia";
    font-size: 18px;
    line-height: 33px;
    overflow-y: auto;
    z-index: 200;
    text-align: justify;
    text-indent: 3vw;
    hyphens: auto;
    max-width: 75ch;
}

.formNotedKeywordsPreference{
    display: none;
}

.keywordsMethodsDisplayDone .preferenceAvailable{

    display: inline-block;

}



.formNotedKeywordsPreference select{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #cc6a63;
    border-radius: 3px;
    color: #333;
    font-size: 13px;
    text-align: center;
    width: 69px;
    height: 25px;
}

.formNotedKeywordsPreference label{
    font-weight: bold;
    font-size: 14px;
    font-family: verdana;
    color: #444;
}

.commentsRight{
    float : right !important;
}




/* Export */

#exportMenu{
    display: flex;
    justify-content: center;
    align-items: center

}

#exportButton{
    font-size: 17px;
    line-height: 47px;
    margin: 0px auto 40px;
    height: 60px;
    width: 200px;
    background: none repeat scroll 0% 0% rgba(204, 106, 99, 0.6);
    text-shadow: none;
    color: #FFF;
    box-shadow: none;
    border-radius: 1px;
    border: 0px none;
    float: none;
    -webkit-transition: all 850ms ease;
    -moz-transition: all 850ms ease;
    -ms-transition: all 850ms ease;
    -o-transition: all 850ms ease;
    transition: all 850ms ease;

}

#exportButton:hover{
    background: #CC6A63;
    border-radius: 6px;
    transform: scale(1.2);
}

#headerDiv{
    padding-right: 45px !important;
    padding-left: 45px !important;
}

.exportButtons{
    position: relative;
    opacity: 0.8;
    font-family: "verdanna" , arial, sans-serif;
    font-size: 25px;
    background: none;
    text-shadow: none;
    color: #fff;
    box-shadow: none;
    border-radius: 4px;
    border: 2px solid #fff;
    float: none;
    -webkit-transition: all 850ms ease;
    -moz-transition: all 850ms ease;
    -ms-transition: all 850ms ease;
    -o-transition: all 850ms ease;
    transition: all 850ms ease;
    margin: 0 30px;
    vertical-align: middle;
}

/* Validation */

#validateButton{
    position: absolute;
    top: calc(2.5% - 15px);
    left: calc(2% - 15px);
    height: 40px;
    width: 40px;
    border-radius: 30px;
    cursor: pointer;
}


.isValidated{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    cursor: text;
}

.isNotValidated {
    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    -ms-animation: blink 1s linear infinite;
    -o-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
    cursor: pointer;
}

.isDisable {
    cursor: not-allowed !important;
}

.trValidate{
    opacity: 0.4;
    border: none;
}


#selectBrowseDocs{
    float: right;
    font-family: "verdanna",arial, sans-serif;
    text-align: center;
}
#selectBrowseDocs label{
    font-size: 14px;
    font-family: "segoe",arial, sans-serif;
    font-weight: normal;
}


#selectBrowseDocs select{
    font-size: 13px;
    font-family: "segoe",arial, sans-serif;
    text-align: center;
    border-radius: 3px;
    margin-top: 6px;
    color: #333;
}


/* Full Article */

#buttonFullArticle{
    display: table;
    width: 3.5%;
    height: 6%;
    background: #8A8084;
    color: #fff;
    position: fixed;
    top:0;
    right: 0;
    z-index: 9999;
    opacity: 0.4;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}

#buttonFullArticle:hover{
    height: 90px;
    width: 90px;
    opacity: 0.8;
}


#spanFullArticle{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#fullArticleSection{
    display: none;
}

.fullArticleSectionShow{
    height: 100%;
    overflow: auto;
    position: absolute;
    width: 100%;
}

#closeFullArticle{
    display: none;
    z-index: 99999999;
    cursor: pointer;
    position:  absolute;
    top:3%;
    right: 2%;
    color: #fff;
    font-size: 35px;
    background: #555;
    border-radius: 19px;
    transition : box-shadow 500ms;
}

#closeFullArticle:hover{
    transform : scale(1.05);
    box-shadow: 1px 1px 13px white;
}

#grid{
    cursor: pointer;
}

#list{
    cursor: pointer;
}

#listOrGrid{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 26px;
}

#listOrGrid > span{
    display: none;
    width: 50%;
    float: left;
    text-align: center;
    color: #8a8084;
    opacity: 0.4;
}

.divComments{
    display: none;
    background: none repeat scroll 0 0 rgba(204, 106, 99, 0.6);
    border-radius: 25px;
    bottom: 3%;
    cursor: pointer;
    float: none;
    height: 25px;
    line-height: 12px;
    text-align: center;
    width: 25px;
}

.divCommentsBlocked{
    border-radius: 25px;
    height: 25px;
    line-height: 12px;
    text-align: center;
    width: 25px;
}

.divComments:hover{
    background: none repeat scroll 0 0 rgba(204, 106, 99, 1);
}


.keywordsMethodsDisplayDone .divComments{

    display: block;
    transition: all 600ms ease 0s;

}

.divCommentsOpened{
    min-width: 100%;
    margin: 0;
    right: 0;
    border-radius: 0;
    background: none repeat scroll 0 0 #333;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: auto;
    cursor: text;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
}

.etcSpanComment{
    color: #fff;
    font-size: 20px;
}

/*.leaveOrSaveComment{
    font-size: 12px;
    top: 3%;
    right: 4%;
    height: 17px !important;
    display: none;
    color: #fff;
}*/

.leaveOrSaveComment {
    position: absolute;
    font-size: 12px;
    height: 17px !important;
    display: none;
    color: #FFF;
    width: 100%;
    left: 0;
}

.cantSaveSpanComment{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: none repeat scroll 0% 0% #777;
    transition: all 650ms ease 0s;
    cursor: not-allowed;
    width: 50%;
    height: 17px;
    float: right;
}

.saveSpanComment{
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: none repeat scroll 0% 0% #444;
    transition: all 650ms ease 0s;
    cursor: pointer;
    width: 50%;
    height: 17px;
    float: right;
}

.saveSpanComment span , .cantSaveSpanComment span {
    top: 0 !important;
    position: static !important;
}

.saveSpanComment:hover{
    background: #27ae60;
}

.no-transition{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

.quitSpanComment{
    transition: all 650ms ease 0s;
    -webkit-transition: all 650ms ease;
    -moz-transition: all 650ms ease;
    -ms-transition: all 650ms ease;
    -o-transition: all 650ms ease;
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: none repeat scroll 0% 0% #444;
    cursor: pointer;
    float: left;
    width: 50%;
    height: 17px;
    border-right: 1px solid #666;
}

.quitSpanComment span{
    top: 0 !important;
    position: static !important;
}

.quitSpanComment:hover{
    background: #c0392b;
}


.divFormComments{
    line-height: 100px;
    height: 100%;
    display:none;
    font-size: 20px;
    color:#333;
    background: #cc6a63;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
}

.divFormComments form {
    height: calc(100% - 17px) !important;
}

/*.inputComment{
    position: absolute;
    left: 3% !important;
    top: 34% !important;
    background: #fff;
    height: 45px !important;
    width: 83% !important;
    border-radius: 8px 0 0 8px;
    border: 0;
}*/

.inputComment{
    background: none repeat scroll 0% 0% #FFF;
    height: 45px !important;
    width: 83% !important;
    border-radius: 8px 0px 0px 8px;
    border: 0px none;
    float: left;
    margin-top: 18px;
    margin-left: 3px;
    line-height: 45px;
}

.inputComment:focus{
    border: 0;
    background: transparent;
}

.trashComment{
    height: 45px;
    top: 34%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background: none repeat scroll 0% 0% grey;
    font-size: 14px;
    width: 14%;
    right: 1%;
    border-radius: 0 8px  8px  0;
    cursor: pointer;
}

.trashComment:hover{
    background: #C0392B;
}

#spanLogos{
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    left: 0;
}

#spanLogos:first-child{
    margin-left: 0;
}

.partnerLogos {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -webkit-transition: all 450ms ease;
    -moz-transition: all 450ms ease;
    -ms-transition: all 450ms ease;
    -o-transition: all 450ms ease;
    transition: all 450ms ease;
    width: auto;
    height: 35px;
    opacity: 0.4;
}

.partnerLogosFooter{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -webkit-transition: all 450ms ease;
    -moz-transition: all 450ms ease;
    -ms-transition: all 450ms ease;
    -o-transition: all 450ms ease;
    transition: all 450ms ease;
    width: auto;
    height: 45px;
    opacity: 0.9;
}

.partnerLogosFooter:hover{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

.linkLogosPatner{
    margin-left: 15px;
}

.linkLogosPatner:first-child {
    margin-left: 0;

}


.partnerLogos:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
    opacity: 1;

}

.idOfWord{
    font-size: 15px;
    font-style: italic;
}


.pagination > li > a{
    color: #555 ;
}

.pagination > li > a:hover{
    background: #CC6A63;
    color: #fff;
}



.paginate_button.active a {
    background: rgba(204, 106, 99, 0.6);
    border : 1px solid rgba(204, 106, 99, 0.6);
    font-weight: bold;

}

.paginate_button.active a:hover {
    background: rgba(204, 106, 99, 0.6);
    border : 1px solid rgba(204, 106, 99, 0.6);
}


#browseTable_info{
    text-align: left;
    margin-bottom: 40px;
    color: #444;
    font-size: 14px;
    font-family: "segoe" , sans-serif;
}

.form-control:focus{
    box-shadow: 0px 1px 1px rgba(204, 106, 99, 0.6) inset, 0px 0px 8px rgba(204, 106, 99, 0.6) !important;
    border-color: #CC6A63 !important;
}

#browseTable_length{
    color: #444;
    font-size: 14px;
    font-family: "segoe" , sans-serif;
}

#browseTable_filter{
    color: #444;
    font-size: 14px;
    font-family: "segoe" , sans-serif;
}

.ui-progressbar-value {
    height: 100%;
    transition : width 1500ms linear;
    -webkit-transition : width  1500ms linear;
    color: #fff;
    font-family: segoe;
    font-size: 13px;
}

#pertinenceBar{
    background: #E0E0E0;
    border: 0;
    height: 18px;
    border-radius: 9px;
    width: 70%;
    float: left;
    margin-left: 15%;
    margin-right: 15%;
}

#silenceBar{
    background: rgba(104,104,104,0.5);
    border: 0;
    height: 18px;
    border-radius: 9px;
    width: 70%;
    float: left;
    margin-left: 15%;
    margin-right: 15%;
}

.labelBlock{
    display: block !important;
    font-size: 22px !important;
    padding: 0 !important;
}
.labelHide{
    display: none !important;
}

.blockForms{
    background: #B3B3B3 !important;
    color : #fff !important;
    border: none !important;
}

/* EXPORT */
#exportMenu{
    display:none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(204, 106, 99, 0.85);
    z-index: 9999;
}

#exportQuit{
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    font-weight:bold;
    position: absolute;
    right:50px ;
    top: 50px
}


/* TypeaHead */


span.twitter-typeahead .tt-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0 ;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion > p {
    display: block;
    padding: 3px 20px;
    margin-bottom: 0px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion > p:hover,
span.twitter-typeahead .tt-suggestion > p:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #DB9691;
}
span.twitter-typeahead .tt-suggestion.tt-cursor {
    color: #ffffff;
    background-color: #DB9691;
}
span.twitter-typeahead {
    width: 100%;
}
.input-group span.twitter-typeahead {
    display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
    top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
    top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
    top: 28px !important;
}

.twitter-typeahead {
    display: inline-block;
    direction: ltr;
    position: absolute !important;
    left: 0 !important;
    top: 18px !important;
}

.tt-hint{
    color: #777;
}

.contentTei{
    padding: 35px;
}

/* Keywords Search */

.searchKeywords{
    width: 6px;
    height: auto;
    color: #8A8084;
    opacity: 0.6;
    transition :  all 500ms;
    cursor: pointer;
}

.searchKeywords:hover{
    transform: scale(1.16);
    color: #333;
    opacity: 1;
    z-index: 999999999;
}

.highlight{
    padding-left: 3px;
    padding-right: 3px;
    background: #CC6A63;
    color: #fff;
}

.h1Highlight{
    padding-left: 3px;
    padding-right: 3px;
    background: #fff;
    color: #333;
}

.deletePrefCorresp{
    background: #AA0000;
    color : #fff;
}

.arrowScroll{
    position: absolute;
    width: 25px;
    height: 25px;
    font-size: 25px;
    cursor: pointer;
    color: rgba(204, 106, 99, 1);
    opacity: 0.5;
    transition : all 650ms;
}

.arrowScroll:hover{
    opacity: 1;
}

.arrowScrollTop{
    top: 6%;
    left: calc((4.16% - 25px)/2);
}

.arrowScrollBottom{
    top: 91%;
    right : calc((4.16% - 25px)/2);
}

.arrowUp{
    transform: rotate(180deg);
}

.informations{
    font-size: 24px;
    color: #3FA5DB;
    cursor: pointer;
    transition: all 700ms;
}

.informations:hover{
    transform : scale(1.2);
}

.informationsContent{
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(63, 165, 219, 0.85) none repeat scroll 0% 0%;
    z-index: 9999;
    transition : all 1000ms;
}

.imgInfos{
    width: 70%;
}

.infosQuit{
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    font-weight:bold;
    position: absolute;
    right:50px ;
    top: 50px;
    transition : all 650ms;
}

.infosQuit:hover{
    transform :scale(1.2);
}

.semiBadDocument{
    background: #e67e22 !important;
}

.goodDocument{
    background: #27ae60 !important;
}

.semiGoodDocument{
    background: #16a085 !important;
}

.badDocument{
    background: #c0392b !important;
}

#startOrStop.colored , #timer.colored , .arrowScroll.colored , .methodLinkround.colored , .keywordsMethodsDisplay.colored , .keywordsMethodsDisplayDone.colored{
    background: none !important;
}

#startOrStop.semiGoodDocument , #timer.semiGoodDocument , .arrowScroll.semiGoodDocument{
    color: #16a085 ! important;
}

#startOrStop.semiBadDocument , #timer.semiBadDocument , .arrowScroll.semiBadDocument{
    color: #e67e22 ! important;
}

#startOrStop.goodDocument , #timer.goodDocument , .arrowScroll.goodDocument{
    color: #27ae60 ! important;
}

#startOrStop.badDocument , #timer.badDocument , .arrowScroll.badDocument{
    color: #c0392b ! important;
}


.methodLinkround.semiGoodDocument , .keywordsMethodsDisplay.semiGoodDocument{
    border-color: rgba(22, 160, 133, 0.6) ! important;
}

.methodLinkround.semiBadDocument , .keywordsMethodsDisplay.semiBadDocument{
    border-color: rgba(230, 126, 34, 0.6) ! important;
}

.methodLinkround.goodDocument, .keywordsMethodsDisplay.goodDocument{
    border-color: rgba(39, 174, 96, 0.6) ! important;
}

.methodLinkround.badDocument, .keywordsMethodsDisplay.badDocument{
    border-color: rgba(192, 57, 43, 0.6) ! important;
}

/* Hover for changed  colors*/

.methodLinkround.semiGoodDocument:hover{
    border-color: rgba(22, 160, 133, 1) ! important;
}

.methodLinkround.semiBadDocument:hover{
    border-color: rgba(230, 126, 34, 1) ! important;
}

.methodLinkround.goodDocument:hover{
    border-color: rgba(39, 174, 96, 1) ! important;
}

.methodLinkround.badDocument:hover{
    border-color: rgba(192, 57, 43, 1) ! important;
}

/* */

.keywordsMethodsDisplayDone.colored{
    border: 1px solid rgba(85, 85, 85, 0.3) !important;
}


.informations[data-id="couleursListeInfos"]{
    position: absolute;
    top: 237px;
    left: 35%;
}

.informations[data-id="selectListeInfos"]{
    position: absolute;
    top: 237px;
    left: 13%;
}

.informations[data-id="documentInfos"]{
    position: fixed;
    left: 50%;
    height: 5%;
    display: flex;
    align-items: center;
}

.informations[data-id="methodsInfos"]{
    position: fixed;
    left: 6%;
    top: 56%;
    z-index:99999;
}

.informations[data-id="preferenceInfos"], .informations[data-id="silenceKwInfos"] {
    float: left;
    font-size: 12px;
}

.informations[data-id="commentaireInfos"]{
    float:right;
    font-size: 12px;
}

.informations[data-id="silenceInfos"]{
    position: absolute;
    right: 0;
    top: 56%;
}

.showInformations{
    color: rgba(204, 106, 99, 0.5);
    top: 49%;
    left: calc( (4.16% - 25px) / 2) );
    font-size: 25px;
    position: fixed;
    cursor: pointer;
}

.showInformations:hover{
    color: rgba(204, 106, 99, 1);
}

.currentlyShowingInfos{
    color: rgba(204, 106, 99, 1);
}

.onCircle{
    border-color : #CC6A63;
    color: #555;
}

/* Litle resolution*/
@media (max-width: 1199px) {
    .divHoverH1Display{
        width: 68.64%;
    }
    .resumeGliph{
        width: 22%;
    }
    #buttonFullArticle{
        width: 4.1%;
    }
}

.prefInfobulle{
    width: 75px;
    border-radius: 7px;
}

.formNotedKeywordList{
    width: 100%;
    border-radius: 4px;
}

.magicButton{
    cursor: pointer;
    font-size: 25px;
    transition : all 550ms;
}

.magicButton:hover{
    color: #CC6A63;
}

.infoMessage{
    position: absolute;
    z-index: 999999999;
    color: #555;
    height: 200px;
    width: 300px;
    left: calc(50% - 150px);
    top: calc(50% - 100px);
    border: 5px solid rgb(204, 106, 99);
    border-radius: 20px;
    font-family: verdana;
    font-weight: bold;
    background: #ffffff;
    color: #555;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}