/*
*
* Template For Castor termITH
*
* By Matthias DIEUDONNE
*
* matthias.dieudonne@gmail.com
*
*/


@font-face {
    font-family: 'manteka'; src: url('../fonts/manteka.ttf');
}
@font-face {
    font-family: 'segoe'; src: url('../fonts/segoeui.ttf');
}

@font-face {
    font-family: 'segoeprb'; src: url('../fonts/segoeprb.ttf');
}
@font-face {
    font-family: 'segoepr'; src: url('../fonts/segoepr.ttf');
}
@font-face {
    font-family: 'segoeuisl'; src: url('../fonts/segoeuisl.ttf');
}

html{
    height: 100%;

}


.bgYellow{
    background: #FFA65A;
}

.bgRed{
    background: #FF7471;
}

.test{
    background: #bb9ff5;

}

.italic{
    font-style: italic;
    font-size: 12px;
}

.bold{
    font-weight: bold;
}


body {
    width: 100%;
    height: 100%;
}

body > header{
    display: none;
}

#showOnClickDiv{
    display:none;
    transition: all 0.9s ease;
}

.showOnClickDivView{
    position: absolute;
    width: 80%;
    float:none;
    margin: 0 auto;
    left: 10%;
    z-index:99;
    opacity: 1;
}

#content{
    height: 90%;
    margin: 0 auto;
    float:none;
    top: 5%;
    padding: 0;
    box-shadow: 6px 6px 1px #444;
    overflow: hidden;
    background: #ffffff;
}

#contentDisplay{
    height: 90%;
    margin: 0 auto;
    float:none;
    top: 5%;
    padding: 0;
    box-shadow: 6px 6px 1px #444;
    overflow: hidden;
    background: #ffffff;
    border-top: 1px solid #555;
    border-left: 1px solid #555;
}

#bodyBrowse{
    background: #E5E5E5 ;
}

#divOverTableBrowse{
    margin: 0 auto;
    float:none;
    padding: 0;
}


#h1Browse{
    font-size: 39px;
    color: #fff;
    font-family: verdana;
    letter-spacing: 12px;
    float:none;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: none;
    border: 2px solid #fff;
    margin: 0 auto;
    margin-bottom: 70px;
    border-radius: 75px 0 75px 0;
    margin-top:50px;
}


.resumeKeywordsFull{
    margin: 0 auto;
    padding: 0;
    float:none;
}

#browseTable{
    text-align: center;
    padding-top:50px;
    margin: 0 auto;
    width: 100%;
}

#browseTable thead tr th {
    text-align: center;
    font-family: 'segoeprb';
    font-size:23px;
    letter-spacing: 3px;
}

.browseTd{
    height:135px;
    font-size: 22px;
    font-family: 'segoe';
}

.browseTr{
    height:135px;
}

.browseNumbTh{
    color: #fff;
    padding-bottom: 17px;
    padding-top: 17px;
}

.browseYearTh{
    color: #fff;
    padding-bottom: 17px;
    padding-top: 17px;

}

.browseAuthorTh{
    color: #fff;
    padding-bottom: 17px;
    padding-top: 17px;

}

.browseTitleTh{
    color: #fff;
    padding-bottom: 17px;
    padding-top: 17px;

}

.browseMarkTh{
    color: #fff;
    padding-bottom: 17px;
    padding-top: 17px;

}

thead{
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

tbody:before{
    line-height:2.2em;
    content:"\200C";
    display:block;
}



.browseTdInter{
    height:35px;
}

.browseNumb{
    background: #FF7A85 /*F49C14 JAUNE*/;
    color: #fff;
    font-family: 'manteka';

}

.browseYear{
    background: #44B2BA ;
    color:  #fff;
    font-family: 'segoeuisl';

}

.abrowseNumber{
    color: #fff;
    transition: all 700ms;
    height: 100%;
    width: 100%;
    line-height: 135px;
    display: inline-block;
    transition: all 1500ms;
}

.abrowseNumber:hover{
    background: #8F44AD;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.divAbrowseNumber{
    height:100%;
    width:100%;
    display:inline;
    vertical-align:middle;
}


.browseTitle{
    padding-left:2%;
    padding-right:2%;
    /*background: #8F44AD; VIOLET*/
    background: #5BB1FC;
    color: #fff;
    font-size:16px;
}

.abrowseTitle{
    color: #fff;
    transition: all 700ms;
    font-size:20px;
    font-family: 'segoeuisl';
}

.abrowseTitle:hover{
    color: #fff;
}

.browseAuthor{
    padding:4px;
    color: #fff;
    background: #34CDB8;
    font-family: 'segoepr';
}


thead .browseSize{
    color: #fff;
}


.browseCategory{
    padding:4px;
    background: #5BB1FC;
    color: #fff;
}

.browseMark{
    padding:4px;
    background: #FFA65A;
    color: #fff;
    font-family: 'segoepr';
    font-size:25px;
}

td{
    transition: all 550ms;
}

.trBody:hover  .browseNumb, .trBody:hover  .browseMark,  .trBody:hover .browseCategory, .trBody:hover  .browseTitle, .trBody:hover  .browseAuthor, .trBody:hover  .browseYear {
    background: #BB9FF5 !important;
}

.trBody:hover {
}

.trBody:hover .spanBrowseMark {
    background: #fff;
    color: #333;
    padding:20px;
    border-radius:15px;
}

table tr[data-href] {
    cursor: pointer;
}

.divNoDocs{
    margin: 0 auto;
    float:none;
    font-family: 'segoepr';
    color:#fff;
    font-size:55px;
    text-align:center;
    margin-top:130px;
}

.spanDivNoDocs{
    font-size:70px;
}


/*
* Under: Display Docs!
*/

#divArrLeft{
    text-align:center;
    color:#fff;
    font-size:22px;
    height: 100%;
    display: table-cell;
    max-height:100%;
    overflow:hidden;
}

#divArrRight{
    display: table-cell;
    text-align: center;
    height:100%;
    font-size:23px;
    max-height:100%;
    overflow:hidden;
}

#divNavMiddle{
    display:table;
    height:100%;
    text-align:center;
    color:#fff;
    font-size:20px;
    max-height:100%;
    overflow:hidden;
}

#divNavMiddle p{
    line-height: normal;
    display:table-cell;
    vertical-align: middle;
}

#divNavMiddle p a{
    color: #fff;
}

.spanArrows{
    line-height:normal;
    text-align:center;
    color:#fff;
    font-size:22px;
}


#leftSection{
    height: 95%;
    text-align: center;
    padding:0;
    border-right: 1px solid rgba(51, 51, 51, 0.3);
}

#headerInfoDisplayDocs{
    height:50%;
}


.headerDisplayInfos{
    padding:0;
    margin:0;
}

.authorAndyear{
    padding:0;
    margin:0;
    height:300px;
}

.displayYear{
    background: #44B2BA ;
    color:  #fff;
    font-family: 'segoeuisl';
    text-align: center;
    font-size: 18px;
    height:28%;
    display:table;
    width: 100%;
}

.timeGliph{
    margin: 0 auto;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left:7px;
    padding-right: 7px;
    width: 1px;
}

.timeInfoDispaly{
    display: table-cell;
    vertical-align: middle;
    font-size: 23px;
}

.displayAuthor{
    color: #333;
    font-family: 'segoe';
    text-align: center;
    font-size: 17px;
    height:50%;
    display:table;
    width: 100%;
}

.authorGliph{
    margin: 0 auto;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left:7px;
    padding-right: 7px;
    width: 1px;
    background-color: #CC6A63;
    color: #fff;
}

.authorsNameDisplayD{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 13%;
    font-style: italic;
}

.displayMark{
    background: #CC6A63;
    color: #fff;
    font-family: 'segoepr';
    border-radius: 0 0 100% 0;
    text-align: center;
    font-size: 19px;
    height:50%;
    display:table;
    width: 100%;
    border-right: 6px solid #fff;
}

.markGliph{
    margin: 0 auto;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    padding-left:7px;
    padding-right: 7px;
    width: 1px;
    background: #CC6A63;
    box-shadow: 5px 0 1px -2px #9f6666;
}

.markInfoDisplay{
    display:table-cell;
    vertical-align: middle;
    font-size:23px;
}

.divTopDisplay{
    line-height: normal;
    height:5%;
    width: 100%;
    padding-left: 12.25%;
    margin: 0;
    background: #CC6A63;
    z-index: 999;
    box-shadow: 30px 6px 2px -3px rgba(74, 78, 79, 0.6);
}


.divHoverH1Display{
    line-height: normal;
    width: 100%;
    margin: 0;
    background: #CC6A63;
    z-index: 8;
    display:block;
    border-radius: 0 0 0 2px;
    height: 25%;
    padding: 0;
}

#arroundedBlock{
    background: none repeat scroll 0 0 #fff;
    border-radius: 50% / 100% 100% 0 0;
    bottom: 0;
    height: 50%;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    box-shadow: 0 -5px 3px -6px rgba(74, 78, 79, 0.7)
    z-index: 9;
}

#h1Block{
    display:table;
    height:50%;
    width: 100%;
}


#h1DisplayDocs{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    display: table-cell;
    letter-spacing: 1px;
    float: none;
    font-family: verdana;
    font-size: 18px;
    line-height: normal;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}


#sectionResumeDisplayDocs{
    margin-top: 0px;
    text-align:center;
    padding: 0;
    transition: all 0.9s;
}

#sectionKeywordsDocs{
    margin-top: 0px;
    text-align:center;
    padding:0;
}

.divHoverResume{
    height: 15%;
    display:table;
    width: 100%;
    transition: all 650ms;
    cursor: pointer;
}

.resumeGliph{
    background: none repeat scroll 0 0 #CC6A63;
    color: #fff;
    display: inline-block;
    font-size: 23px;
    line-height: normal;
    margin: 0 auto;
    padding-top: 0;
    position: static;
    transition: all 650ms ease 0s;
    width: 100%;
}

#linkFullArticle{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size:18px;
    font-family: 'segoeprb';
    color:#fff;
    transition: all 650ms;
}

.divHoverResume:hover #linkFullArticle{
    background: #ffffff !important;
    color: #444 !important;
}

.divHoverResume:hover  span{
    background: #ffffff !important;
    color: #333 !important;
}

.divHoverResume:hover {
    background: #ffffff;
    color: #333;
}





.scroller-content{
    padding: 0 !important;
}

#sectionArticle{
    height:50%;
    width: 100%;
    max-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

#sectionArticle .scroller-content{

}

#sectionArticle .scroller-handle{
    background: none repeat scroll 0 0 #CC6A63;
    opacity: 1;
    border:0;
    border-radius: 0;
    width:100%;
    right: 0;
}


div .authorsNameDisplayD{
    font-size: 15px;
}

span .authorsNameDisplayD{
    font-size: 17px;
}


#keywordsSection{
    max-width:95%;
    text-align:center;
    height:95%;
    padding:0;
    overflow-y: scroll;
    overflow-x:hidden;
    hyphens: auto;
    word-wrap: normal;
}

.keywordsGliph{
    float:right;
    color:#fff;
    font-size:35px;
    margin-top:19px;
    margin-right:35px;
}

#keywordsSection .scroller-content{


}

#keywordsSection .scroller-handle{
    border-radius: 2px;
}

#articleSectionResumeDisplay{
    color: #333;
    margin: 0 auto;
    padding: 18px;
    word-wrap: break-word;
    font-size:16px;
    display: block;
    vertical-align: middle;
    max-height: 100%;
    font-family: 'segoe';
    padding-top:5px;
}

.articleSectionResumeDisplayView{
    color: #333;
    font-family: 'segoeuisl';
    font-size: 19px;
    padding: 30px;
    display: block;
    text-align: center;
    vertical-align: middle;
    border-color: #fff !important;


}

#keywordsDisplayDiv{
    padding-top: 15px;
    position: relative;
}

#keywordsDisplayDivInist{
    padding-top: 15px;
    position: relative;
    display: none;
}


.divForListKeywords{
    min-height: 200px;
    width:75%;
    margin: 0 auto;
    padding-bottom:40px;
}

.divForListKeywords ul{
    margin-bottom: 50px;
}


#divSectionKeywordsDisplay{
    padding-left: 6px;
    padding-top:60px;
    border-left: 6px dotted #fff;
    border-right: 12px solid #FF7A85;
    border-bottom: 12px solid #FF7A85;
    height: 300px;
    max-height:300px;
    overflow: hidden;
    word-wrap: break-word;

}


.keywordsScrollBar{
    background: blue;
}

#divSectionKeywordsDisplay ul{
    padding: 0;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

.h2SectionsDisplayDocs{
    color: #fff;
    float: none;
    font-family: 'segoeprb';
    font-size: 25px;
    margin: 0;
    padding: 26px;
    transition: all 750ms;

}


.h3KeywordsDisplayDocs {
    background: none repeat scroll 0 0 white;
    border-radius: 5px;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    color: #333;
    font-family: verdana;
    font-size: 25px;
    margin: 50px auto 0;
    padding: 20px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;

}

.h3KeywordsDisplayDocs:first-Child{
    border:0;
    margin-top:0;
    margin-top: 50px;
}

.keywordsUtilsDisplay{
    background-image:none;
    background: #fff;
    color:#333;
    border:0;
    margin:6px;
    font-size: 16px;
    font-family: 'segoeuisl';
}

.keywordsUtilsDisplay:hover{
    background-image:none;
    background: #fff;
    color:#333;
    border:0;
    margin:6px;
    font-size: 16px;
}

.keywordsinistDisplay{
    background-image:none;
    background: #fff;
    color:#333;
    border:0;
    margin:6px;
    font-size: 16px;
    font-family: 'segoeuisl';
}

.keywordsinistDisplay:hover{
    background-image:none;
    background: #fff;
    color:#333;
    border:0;
    margin:6px;
    font-size: 16px;
}


.keywordsAuthorsDisplay{
    background-image:none;
    background: #fff;
    color:#333;
    border:0;
    margin:6px;
    font-size: 16px;
    font-family: 'segoeuisl';
}

.keywordsAuthorsDisplay:hover{
    background-image:none;
    background: #fff;
    color:#333;
    border:0;
    margin:6px;
    font-size: 16px;
}

.keywordsLinasDisplay{
    background: none repeat scroll 0 0 transparent;
    border: 2px solid #FF9C95;
    color: #333;
    font-family: verdanna;
    font-size: 15px;
    font-style: italic;
    margin: 10px;
    text-shadow: none;
    transition: all 2000ms;
}

.keywordsLinasDisplayDone{
    background: none repeat scroll 0 0 transparent;
    border: 1px solid rgba(85,85,85,0.3);
    color: #333;
    font-family: verdanna;
    font-size: 15px;
    font-style: italic;
    margin: 10px;
    text-shadow: none;
    transition: all 500ms;
}

.keywordsLinasDisplayDone:hover{
    background: none repeat scroll 0 0 transparent;
    transition: all 500ms;
}
.keywordsLinasDisplay:hover{
    background: none repeat scroll 0 0 transparent;
    transition: all 500ms;
}

.keywordsLinasDisplay2{
    background: none repeat scroll 0 0 #7F6664;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.5);
    font-family: verdanna;
    font-size: 14px;
    font-style: italic;
    margin: 6px;
    text-decoration: line-through;
    text-shadow: none;
}


.frenchFlag{
    height:40px;
    width:90px;
    background: white;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom:20px;
}

.frenchFlagBlue{
    height:40px;
    width:30px;
    background: #4758AA;
    margin: 0 auto;
    float:left;
}

.frenchFlagRed{
    height:40px;
    width:30px;
    background: #F05261;
    float:right
}


.englandFlag{
    height:40px;
    width:90px;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom:20px;
    background: #fff;
}

.englandFlagVertical{
    width: 10px;
    background: #F05261;
    height:40px;
    margin-left:40px;
}

.englandFlagHorizontal{
    background: none repeat scroll 0 0 #f05261;
    bottom: 25px;
    height: 10px;
    position: relative;
    width: 90px;
}

input[type=radio] {
    display:none;
}

input[type=radio] + label {
    display:inline-block;
    margin: 5px;
    padding: 4px 12px;
    background-color: #e7e7e7;
    border-color: #ddd;
    color: #555;
    font-weight: normal;
}

input[type=radio] + label:hover {
    background: #CC6A63;
    color: #fff;
}


input[type=radio]:checked + label {
    background-image: none;
    background-color:transparent;
    font-weight: bold;
}

input[value='0']:checked + label {
    background-image: none;
    color: red;
}

input[value='1']:checked + label {
    background-image: none;
    color: orange;
}

input[value='2']:checked + label {
    background-image: none;
    color: green;
}

.formNotedKeyword{
    display: table;
    margin: 0 auto;
}
.loader-quart{

    height: 30px;
    width: 30px;
    border-radius: 30px;
    display: inline-block;
    border: 4px solid rgba(0,0,0,0.3);
    position: relative;

}
.loader-quart:after{
    content: '';
    border-radius: 30px;
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    border: 4px  solid transparent;
    border-top-color: rgba(0,0,0,0.6);
    animation : spin 450ms linear 0s infinite;
    -webkit-animation : spin 1s linear 0s infinite;

}

.loader-quart-ok{

    height: 30px;
    width: 30px;
    border-radius: 30px;
    display: inline-block;
    border:4px solid #51D21F;
    animation : spin 1s linear 0s infinite;
    position: relative;

}

@keyframes spin{
    0%{
        transform :rotate(0deg);
    }
    100%{
        transform :rotate(360deg);
    }
}
@-webkit-keyframes spin{
    0%{
        -webkit-transform :rotate(0deg);
    }
    100%{
        -webkit-transform :rotate(360deg);
    }
}


/*
*Under : Full article
*/

#sectionCompletArticle{
    padding:0;
    margin:0;

}

#sectionCompletArticle:hover .h2FullArticle{
    background: #fff;
    color: #555;
}

#sectionCompletArticle:hover #fullArticle{
    border-color: #fff;
    border-right: 6px solid #fff;
    padding-right: 12px;
}

#sectionCompletArticle:hover ~ #sectionResumeDisplayDocs #articleSectionResumeDisplay{
    border-left: none;
    padding-left: 23px;
}



#sectionKeywordsDocs:hover .h2SectionsDisplayDocs{
    background: #fff;
    color: #555;
}

#sectionKeywordsDocs:hover #divSectionKeywordsDisplay{
    border-color: #fff;
    border-left: 6px solid #fff;
}

#sectionResumeDisplayDocs:hover .h2SectionsDisplayDocs{
    background: #fff;
    color: #555;
}

#sectionResumeDisplayDocs:hover #articleSectionResumeDisplay{
    border-color: #fff;
    border-right: 6px solid #fff;
    border-left: 6px solid #fff;
    padding-right: 13px;
}

#sectionResumeDisplayDocs:hover ~ #sectionKeywordsDocs #divSectionKeywordsDisplay{
    border-left: none;
    padding-left:12px;

}


.h2FullArticle{
    color:#fff;
    text-align: center;
    margin: 0 auto;
    float:none;
    margin-top:0px;
    font-family: 'segoeprb';
    font-size: 30px;
    padding: 26px;
    background: #D98E66;
    transition: all 750ms;
}

.h3FullArticle{
    color:#333;
    font-family: 'segoepr';
    font-size: 35px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

#fullArticle{
    color: #333;
    margin: 0 auto;
    float:none;
    height: auto;
    margin-top:0;
    padding:18px;
    max-width:100%;
    overflow: hidden;
    word-wrap: break-word;
}

.divFullArticle{
    font-family:verdana;
    margin-top:30px;
}

.figureFullArticle{
    margin-top:50px;
    margin-bottom:50px;
    text-align: center;
    max-width:100%;
}

.imgFullArticle{
    margin: 0 auto;
    max-width:100%;

}

.pFullArticle{
    padding: 15px;
}

.figureFullArticle{
    text-align: center;
}

.figcaptionFullArticle{
    margin-bottom:10px;
}

.scroller-track{
    background: #E5E5E5 !important;
}


.scroller-bar{
    border-left: 0 !important;
}


.loading{
    display: table-cell;
    vertical-align: middle;
    margin-left: 5px;
}


#lina2ListOfKeywords{
    display: none;
}