@font-face {
    font-family: 'manteka'; src: url('../fonts/manteka.ttf');
}
@font-face {
    font-family: 'segoe'; src: url('../fonts/segoeui.ttf');
}

@font-face {
    font-family: 'segoeprb'; src: url('../fonts/segoeprb.ttf');
}
@font-face {
    font-family: 'segoepr'; src: url('../fonts/segoepr.ttf');
}
@font-face {
    font-family: 'segoeuisl'; src: url('../fonts/segoeuisl.ttf');
}



body {
    width: 100%;
    height: 100%;
}

#content{
    width:100%;
}

#bodyBrowse{
    background: #2874C0 ;
}

#divOverTableBrowse{
    width:75%;
    margin: 0 auto;
}


#h1Browse{
    font-size: 39px;
    color: #fff;
    font-family: verdana;
    letter-spacing: 12px;
    width: 75%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: none;
    border: 2px solid #fff;
    margin: 0 auto;
    margin-bottom: 100px;
    border-radius: 75px 0 75px 0;
}

#browseTable{
    text-align: center;
    padding-top:50px;
    margin: 0 auto;
    width: 100%;
}

#browseTable thead tr th {
    text-align: center;
    font-family: 'segoeprb';
    font-size:23px;
    letter-spacing: 3px;
}

.browseTd{
    height:135px;
    font-size: 22px;
    font-family: 'segoe';
}

.browseTr{
    height:135px;
}

.browseNumbTh{
    color: #fff;
    padding-bottom: 17px;
    padding-top: 17px;
}

.browseYearTh{
    color: #fff;
    padding-bottom: 17px;
    padding-top: 17px;

}

.browseAuthorTh{
    color: #fff;
    padding-bottom: 17px;
    padding-top: 17px;

}

.browseSubjectTh{
    color: #fff;
    padding-bottom: 17px;
    padding-top: 17px;

}

.browseMarkTh{
    color: #fff;
    padding-bottom: 17px;
    padding-top: 17px;

}

tbody:before{
    line-height:2.2em;
    content:"\200C";
    display:block;
}



.browseTdInter{
    height:35px;
}

.browseNumb{
    background: #FF7A85 /*F49C14 JAUNE*/;
    color: #fff;
    font-family: 'manteka';

}

.browseYear{
    background: #44B2BA ;
    color:  #fff;
    font-family: 'segoeuisl';

}

.abrowseNumber{
    color: #fff;
    transition: all 700ms;
    height: 100%;
    width: 100%;
    line-height: 135px;
    display: inline-block;
    transition: all 1500ms;
}

.abrowseNumber:hover{
    background: #8F44AD;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.divAbrowseNumber{
    height:100%;
    width:100%;
    display:inline;
    vertical-align:middle;
}

.abrowseTitle{
    color: #fff;
    transition: all 700ms;
    font-size:20px;
}

.abrowseTitle:hover{
    color: #fff;
}

.browseAuthor{
    padding:4px;
    color: #fff;
    background: #34CDB8;
    font-family: 'segoepr';
}


thead .browseSize{
    color: #fff;
}



.browseSubject{
    padding:4px;
    /*background: #8F44AD; VIOLET*/
    background: #5BB1FC;
    color: #fff;
    font-size:16px;
}

.browseCategory{
    padding:4px;
    background: #5BB1FC;
    color: #fff;
}

.browseMark{
    padding:4px;
    background: #FFA65A;
    color: #fff;
    font-family: 'segoepr';
    font-size:25px;
}

td{
    transition: all 550ms;
}

.trBody:hover  .browseNumb, .trBody:hover  .browseMark,  .trBody:hover .browseCategory, .trBody:hover  .browseSubject, .trBody:hover  .browseAuthor, .trBody:hover  .browseYear {
    background: #BB9FF5 !important;
}

.trBody:hover {
}

.trBody:hover .spanBrowseMark {
    background: #fff;
    color: #333;
    padding:20px;
    border-radius:15px;
}

table tr[data-href] {
    cursor: pointer;
}